<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IASPatInfoSCDMapper">

	<!--表名  总体审核情况 -->
	<sql id="tableName">   
		IAS_PAT_INFO_SCD
	</sql>
	
	<sql id="Field">
	   	patient_id,
		visit_id,
		dept_name,
		dept_code,
		age,
		days,
		ddd_value,
		spec_ddd_value,
		limit_ddd_value,
		doctor,
		rpt_date,
		is_anti,
		max_drug_aday,
		ordinaryddds,
		identity,
		charge_type,
		costs,
		anti_costs,
		drug_costs,
		charges,
		anti_charges,
		drug_charges,
		species,
		submit_count,
		is_prevention,
		outantiddd,
		outanticosts,
		outanticharges,
		outspecddds,
		outlimitddds,
		outordinaryddds,
		is_out,
		funcdeptcode,
		funcdeptname,
		funcdeptbegindate,
		funcdeptenddate,
		funcdays,
		is_scd,
		pat_funct_no,
		is_orderflag,
		uuid,
		outdrug_costs,
		outdrug_charges,
		first_diagnosis

	</sql>
	
	<sql id="FieldValue">
	   	#{patient_id},
		#{visit_id},
		#{dept_name},
		#{dept_code},
		#{age},
		#{days},
		#{ddd_value},
		#{spec_ddd_value},
		#{limit_ddd_value},
		#{doctor},
		#{rpt_date},
		#{is_anti},
		#{max_drug_aday},
		#{ordinaryddds},
		#{identity},
		#{charge_type},
		#{costs},
		#{anti_costs},
		#{drug_costs},
		#{charges},
		#{anti_charges},
		#{drug_charges},
		#{species},
		#{submit_count},
		#{is_prevention},
		#{outantiddd},
		#{outanticosts},
		#{outanticharges},
		#{outspecddds},
		#{outlimitddds},
		#{outordinaryddds},
		#{is_out},
		#{funcdeptcode},
		#{funcdeptname},
		#{funcdeptbegindate},
		#{funcdeptenddate},
		#{funcdays},
		#{is_scd},
		#{pat_funct_no},
		#{is_orderflag},
		#{uuid},
		#{outdrug_costs},
		#{outdrug_charges},
		#{first_diagnosis}

	</sql>
	
	<insert id="saveIasPatInfoScd" parameterType="pd"	>
		insert into 
		<include refid="tableName"></include>  
		(
			<include refid="Field"></include>  
		)
        values(
        	<include refid="FieldValue"></include>
        )
	</insert>

	<!-- 	科室使用强度  -->
    <select id="findDeptDDD" parameterType="pd" resultType="pd" >
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, null, 0, (ddd_values / admission_days * 100)) intensity,
		       dept_code,
		       dept_name
		  from (select count(patient_id) pat_count,
		               sum(i.is_scd) scd,
		               sum(i.funcdays) admission_days,
		               sum(is_anti) anti_count,
		               sum(i.ddd_value) ddd_values,
		               funcdeptcode dept_code,
		               funcdeptname dept_name
		          from Ias_Pat_Info_scd i
		         where i.is_orderflag = '1'
		           and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd')  
		           and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		           </if>
		           <if test="keywords != null and keywords != ''">
				  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
				  </if>
				  <if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
				  	 and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
				  </if>
		         group by funcdeptcode, funcdeptname)
		 order by intensity desc
    </select>

	<!-- 	科室使用强度 汇总   -->
	<select id="findDeptDDDBySum" parameterType="pd" resultType="pd" >
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, null, 0, (ddd_values / admission_days * 100)) intensity
		  from (select count(b.patient_id) pat_count,
		               sum(b.is_anti) anti_count,
		               sum(b.is_scd) scd,
		               sum(b.funcdays) admission_days,
		               sum(b.ddd_value) ddd_values,
		               ''
		          from (select count(*) patient_id,
		                       i.days funcdays,
		                       decode(sum(decode(i.is_anti, 1, 1, 0)), 0, 0, 1) is_anti,
		                       decode(sum(i.is_scd), 0, 0, 1) is_scd,
		                       sum(i.ddd_value) ddd_value,
		                       sum(i.OUTANTIDDD) outantiDDD
		                  from Ias_Pat_Info_scd i
		                 where 1=1
				            	and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
		          				and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
				           <if test="persionType!= null and persionType != ''">
				           		<if test="persionType == 'adult'">
				           			and i.AGE &gt;= 18 
				           		</if>
				           		<if test="persionType == 'old'">
				           			and i.age &gt;= 65
				           		</if>
				           		<if test="persionType == 'child'">
				           			and i.age &lt;= 10
				           		</if>
				           		<if test="persionType == 'juvenile'">
				           			and i.age &lt; 18 and i.age &gt;= 11
				           		</if>		
				           </if>
				            <if test="keywords != null and keywords != ''">
							  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
							</if>
							<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
							    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
							</if>
		                 group by i.pat_funct_no, i.days) b)
		 order by intensity desc
	</select>
	
	<!-- 	科室使用强度 限制级抗菌药   -->
	<select id="findDeptDDDLimit" parameterType="pd" resultType="pd">
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, null, 0, (ddd_values / admission_days * 100)) intensity,
		       dept_code,
		       dept_name
		  from (select count(patient_id) pat_count,
		               sum(i.is_scd) scd,
		               sum(decode(limit_ddd_value, 0, 0, 1)) anti_count,
		               sum(limit_ddd_value) ddd_values,
		               sum(i.funcdays) admission_days,
		               funcdeptcode dept_code,
		               funcdeptname dept_name
		          from Ias_Pat_Info_scd i
		         where i.is_orderflag = 1
		           		and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
		          		and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
				           <if test="persionType!= null and persionType != ''">
				           		<if test="persionType == 'adult'">
				           			and i.AGE &gt;= 18 
				           		</if>
				           		<if test="persionType == 'old'">
				           			and i.age &gt;= 65
				           		</if>
				           		<if test="persionType == 'child'">
				           			and i.age &lt;= 10
				           		</if>
				           		<if test="persionType == 'juvenile'">
				           			and i.age &lt; 18 and i.age &gt;= 11
				           		</if>		
				           </if>
				            <if test="keywords != null and keywords != ''">
							  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
							</if>
							<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
							    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
							</if>
		         group by funcdeptcode, funcdeptname)
		 order by intensity desc
	</select>
	
	
	<!-- 	科室使用强度限制级抗菌药 汇总   -->
	<select id="findDeptDDDLimitBySum" parameterType="pd" resultType="pd" >
		
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, null, 0, (ddd_values / admission_days * 100)) intensity
		  from (select count(patient_id) pat_count,
		               sum(is_anti) anti_count,
		               sum(is_scd) scd,
		               sum(limit_ddd_value) ddd_values,
		               sum(funcdays) admission_days
		          from (select count(*) patient_id,
		                       i.days funcdays,
		                       decode(sum(limit_ddd_value), 0, 0, 1) is_anti,
		                       decode(sum(i.is_scd), 0, 0, 1) is_scd,
		                       sum(limit_ddd_value) limit_ddd_value,
		                       sum(i.outlimitddds) outlimitddds
		                  from Ias_Pat_Info_scd i
		                 where 1 = 1
		                  		and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
		          				and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
				           <if test="persionType!= null and persionType != ''">
				           		<if test="persionType == 'adult'">
				           			and i.AGE &gt;= 18 
				           		</if>
				           		<if test="persionType == 'old'">
				           			and i.age &gt;= 65
				           		</if>
				           		<if test="persionType == 'child'">
				           			and i.age &lt;= 10
				           		</if>
				           		<if test="persionType == 'juvenile'">
				           			and i.age &lt; 18 and i.age &gt;= 11
				           		</if>		
				           </if>
				            <if test="keywords != null and keywords != ''">
							  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
							</if>
							<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
							    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
							</if>
		                 group by i.pat_funct_no, i.days) b)
		 order by intensity desc
	</select>


	<!-- 	科室使用强度 限制级抗菌药   -->
	<select id="findDeptDDDSpec" parameterType="pd" resultType="pd">
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, null, 0, (ddd_values / admission_days * 100)) intensity,
		       dept_code,
		       dept_name
		  from (select count(patient_id) pat_count,
		               sum(i.is_scd) scd,
		               sum(decode(spec_ddd_value, 0, 0, 1)) anti_count,
		               sum(spec_ddd_value) ddd_values,
		               sum(i.funcdays) admission_days,
		               funcdeptcode dept_code,
		               funcdeptname dept_name
		          from Ias_Pat_Info_scd i
		         where i.is_orderflag = 1
		           			and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
		          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
			           <if test="persionType!= null and persionType != ''">
			           		<if test="persionType == 'adult'">
			           			and i.AGE &gt;= 18 
			           		</if>
			           		<if test="persionType == 'old'">
			           			and i.age &gt;= 65
			           		</if>
			           		<if test="persionType == 'child'">
			           			and i.age &lt;= 10
			           		</if>
			           		<if test="persionType == 'juvenile'">
			           			and i.age &lt; 18 and i.age &gt;= 11
			           		</if>		
			           </if>
			            <if test="keywords != null and keywords != ''">
						  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
						</if>
						<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
						    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
						</if>
		         group by funcdeptcode, funcdeptname)
		 order by intensity desc
		
	</select>
	
	<!-- 	科室使用强度限制级抗菌药 汇总   -->
	<select id="findDeptDDDSpecBySum" parameterType="pd" resultType="pd" >
		
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, null, 0, (ddd_values / admission_days * 100)) intensity
		  from (select count(patient_id) pat_count,
		               sum(is_anti) anti_count,
		               sum(is_scd) scd,
		               sum(spec_ddd_value) ddd_values,
		               sum(funcdays) admission_days
		          from (select count(*) patient_id,
		                       i.days funcdays,
		                       decode(sum(i.spec_ddd_value), 0, 0, 1) is_anti,
		                       decode(sum(i.is_scd), 0, 0, 1) is_scd,
		                       sum(i.spec_ddd_value) spec_ddd_value,
		                       sum(i.outspecddds) outspecddds
		                  from Ias_Pat_Info_scd i
		                 where 1 = 1
		                   		and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
		          				and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
				           <if test="persionType!= null and persionType != ''">
				           		<if test="persionType == 'adult'">
				           			and i.AGE &gt;= 18 
				           		</if>
				           		<if test="persionType == 'old'">
				           			and i.age &gt;= 65
				           		</if>
				           		<if test="persionType == 'child'">
				           			and i.age &lt;= 10
				           		</if>
				           		<if test="persionType == 'juvenile'">
				           			and i.age &lt; 18 and i.age &gt;= 11
				           		</if>		
				           </if>
				            <if test="keywords != null and keywords != ''">
							  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
							</if>
							<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
							    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
							</if>
		                 group by i.pat_funct_no, i.days) b)
		 order by intensity desc
				
	</select>

	<select id="findDeptDoctDDDPage" parameterType="page" resultType="pd">
		select is_anti,
		       decode(admission_days, null, 0, (ddd_values / admission_days * 100)) ddd_intensity,
		       decode(admission_days, null, 0, (spec_ddd_values / admission_days * 100)) spec_ddd_intensity,
		       decode(admission_days,null,0,(limit_ddd_values / admission_days * 100)) limit_ddd_intensity,
		       scd,
		       dept_name,
		       dept_code,
		       ddd_values,
		       doctor,
		       spec_ddd_values,
		       limit_ddd_values,
		       (ddd_count / pat_count) antiuserat,
		       ddd_count,
		       spec_ddd_count,
		       limit_ddd_count,
		       pat_count,
		       admission_days
		  from (select decode(sum(decode(t.is_anti, 1, 1, 0)), 0, 0, 1) is_anti,
		               sum(is_scd) scd,
		               t.funcdeptname dept_name,
		               t.funcdeptcode dept_code,
		               t.doctor,
		               sum(ddd_value) ddd_values,
		               sum(t.spec_ddd_value) spec_ddd_values,
		               sum(t.limit_ddd_value) limit_ddd_values,
		               sum(decode(t.ddd_value, 0, 0, 1)) ddd_count,
		               sum(decode(t.spec_ddd_value, 0, 0, 1)) spec_ddd_count,
		               sum(decode(t.limit_ddd_value, 0, 0, 1)) limit_ddd_count,
		               count(t.patient_id) pat_count,
		               sum(t.funcdays) admission_days
		          from ias_pat_info_scd t
		         where t.is_orderflag = 1
		           		and t.rpt_date &gt;= to_date(#{pd.beginDate} ,'yyyy-mm-dd') 
		          		and t.rpt_date &lt;= to_date(#{pd.endDate} ,'yyyy-mm-dd') 
			           <if test="pd.persionType!= null and pd.persionType != ''">
			           		<if test="pd.persionType == 'adult'">
			           			and t.AGE &gt;= 18 
			           		</if>
			           		<if test="pd.persionType == 'old'">
			           			and t.age &gt;= 65
			           		</if>
			           		<if test="pd.persionType == 'child'">
			           			and t.age &lt;= 10
			           		</if>
			           		<if test="pd.persionType == 'juvenile'">
			           			and t.age &lt; 18 and t.age &gt;= 11
			           		</if>		
			           </if>
			            <if test="pd.keywords != null and pd.keywords != ''">
						  	 and t.funcdeptname like CONCAT(CONCAT('%', #{pd.keywords}),'%')
						</if>
						<if test="pd.DIAGNOSIS_DESC!= null and pd.DIAGNOSIS_DESC != ''">
						    and t.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{pd.DIAGNOSIS_DESC}),'%')
						</if>
		         group by  doctor, funcdeptcode, funcdeptname)
		 order by ddd_intensity desc
	</select>


	<select id="findDeptDoctPatDDDPage" parameterType="page" resultType="pd">
		select i.funcdeptcode dept_code,
		       i.funcdeptname dept_name,
		       visit_id,
		       i.patient_id,
		       i.doctor,
		       ddd_value,
		       i.funcdays,
		       i.spec_ddd_value,
		       i.limit_ddd_value,
		       decode(i.funcdays, 0, 0, (i.ddd_value / (i.funcdays) * 100)) ddd_intensity,
		       decode(i.funcdays, 0, 0, (i.spec_ddd_value / (i.funcdays) * 100)) spec_ddd_intensity,
		       decode(i.funcdays, 0, 0, (i.limit_ddd_value / (i.funcdays) * 100)) limit_ddd_intensity
		  from ias_pat_info_scd i
		 where is_orderflag = 1
		   		and i.rpt_date &gt;= to_date(#{pd.beginDate} ,'yyyy-mm-dd') 
          		and i.rpt_date &lt;= to_date(#{pd.endDate} ,'yyyy-mm-dd') 
		           <if test="pd.persionType!= null and pd.persionType != ''">
		           		<if test="pd.persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="pd.persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="pd.persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="pd.persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="pd.keywords != null and pd.keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{pd.keywords}),'%')
					</if>
					
					<if test="pd.deptCode != null and pd.deptCode != ''">
					  	 and i.funcdeptcode = #{pd.deptCode}
					</if>
					<if test="pd.DIAGNOSIS_DESC!= null and pd.DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{pd.DIAGNOSIS_DESC}),'%')
					</if>
					<if test="pd.doctor != null and pd.doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{pd.doctor}),'%')
					</if>
					<!-- 		   and funcdeptcode in ('020301') -->
					<!-- 		   and doctor like '%朱立夫%' -->
		 order by ddd_intensity desc nulls last
	</select>

	<!-- 	住院患者抗菌药物费用比 -->
	<select id="findDRANO005" parameterType="pd" resultType="pd">
		select anti_count, anti_costs_count, drug_costs_count, dept_name, dept_code
		  from (select sum(i.is_anti) anti_count,
		               sum(anti_costs) anti_costs_count,
		               sum(drug_costs) drug_costs_count,
		               funcdeptname dept_name,
		               funcdeptcode dept_code
		          from ias_pat_info_scd i
		         where i.is_orderflag = '1'
					and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and i.funcdeptcode = #{pd.deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by funcdeptcode, funcdeptname)
		 order by anti_count desc
	
	</select>
	
	<!-- 	住院患者抗菌药物费用比 合计 -->
	<select id="findDRANO005sum" parameterType="pd" resultType="pd">
		select count(pat_count) pat_count,
		       sum(decode(anti_count, 0, 0, 1)) anticount
		  from (select count(*) pat_count, sum(i.is_anti) anti_count
		          from ias_pat_info_scd i
		         where  i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and i.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by i.pat_funct_no)
	</select>
	
	
	<!-- 	抗菌药品种数及使用率-->
	<select id="findDRANO006" parameterType="pd" resultType="pd">
		select pat_count,
		       scd,
		       anti_count,
		       (anti_count / pat_count) antiuserat,
		       anti_type_count,
		       dept_name,
		       dept_code
		  from (select count(patient_id) pat_count,
		               sum(is_scd) scd,
		               sum(i.is_anti) anti_count,
		               sum(i.species) anti_type_count,
		               funcdeptname dept_name,
		               funcdeptcode dept_code
		          from ias_pat_info_scd i
		         where is_orderflag = '1'
		           	and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and i.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by funcdeptcode, funcdeptname )
		 order by antiuserat desc
	</select>
	
	<!-- 	抗菌药品种数及使用率 合计 -->
	<select id="findDRANO006sum" parameterType="pd" resultType="pd">
		select count(pat_count) pat_count,
		     sum(decode(anti_count, 0, 0, 1)) anti_count,
		     sum(decode(scd_count, 0, 0, 1)) scd_count
		from (select count(*) pat_count,
		             sum(i.is_scd) scd_count,
		             sum(i.is_anti) anti_count
		        from ias_pat_info_scd i
		       where i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and i.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		       group by i.pat_funct_no)
	</select>
	
	
	<!-- 	抗菌药品种数及使用率-->
	<select id="findDRNO003" parameterType="pd" resultType="pd">
		select count(patient_id) pat_count,
		       count(is_scd) scd,
		       sum(costs) med,
               sum(drug_costs) / sum(costs) ranking,
		   	   sum(anti_costs) / sum(drug_costs) antiranking,
		       sum(drug_costs) drug,
		       sum(anti_costs) anti,
		       dept_name,
		       dept_code
		  from (select l.is_scd,
		               sum(l.costs) costs,
		               sum(l.drug_costs) drug_costs,
		               sum(l.anti_costs) anti_costs,
		               l.patient_id,
		               l.visit_id,
		               l.outanticosts,
		               l.funcdeptcode dept_code,
		               l.funcdeptname dept_name
		          from ias_pat_info_scd l
		         where l.is_orderflag = '1'
		           	and l.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and l.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and l.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and l.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and l.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and l.age &lt; 18 and l.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and l.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and l.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and l.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and l.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by l.patient_id,
		                  l.visit_id,
		                  l.funcdeptcode,
		                  l.outanticosts,
		                  l.funcdeptname,
		                  l.is_scd)
		 group by dept_code, dept_name
		 order by ranking desc
	</select>
	
	
	<select id="findDeptDDDInfo">
		 select scd,
		       pat_count,
		       admission_days,
		       ddds,
		       spec_ddds,
		       dept_name,
		       dept_code
		  from (select sum(is_scd) scd,
		               count(patient_id) pat_count,
		               sum(funcdays) admission_days,
		               sum(i.ddd_value) ddds,
		               sum(i.spec_ddd_value) spec_ddds,
		               funcdeptcode dept_code,
		               funcdeptname dept_name
		          from ias_pat_info_scd i
		         where 1 = 1
		           and is_orderflag = 1
<!-- 		           and i.rpt_date >= to_date('2017-04-01', 'yyyy-MM-dd') -->

<!-- 		           and i.rpt_date <= to_date('2017-04-30', 'yyyy-MM-dd') -->
		         group by funcdeptcode, funcdeptname)
		 order by ddds desc
	</select>
</mapper>