<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IASPatInfoSCDMapper">

	<!--表名  总体审核情况 -->
	<sql id="tableName">   
		IAS_PAT_INFO_SCD
	</sql>
	
	<sql id="Field">
	   	patient_id,
		visit_id,
		dept_name,
		dept_code,
		age,
		days,
		ddd_value,
		spec_ddd_value,
		limit_ddd_value,
		doctor,
		rpt_date,
		is_anti,
		max_drug_aday,
		ordinaryddds,
		identity,
		charge_type,
		costs,
		anti_costs,
		drug_costs,
		charges,
		anti_charges,
		drug_charges,
		species,
		submit_count,
		is_prevention,
		outantiddd,
		outanticosts,
		outanticharges,
		outspecddds,
		outlimitddds,
		outordinaryddds,
		is_out,
		funcdeptcode,
		funcdeptname,
		funcdeptbegindate,
		funcdeptenddate,
		funcdays,
		is_scd,
		pat_funct_no,
		is_orderflag,
		uuid,
		outdrug_costs,
		outdrug_charges,
		first_diagnosis

	</sql>
	
	<sql id="FieldValue">
	   	#{patient_id},
		#{visit_id},
		#{dept_name},
		#{dept_code},
		#{age},
		#{days},
		#{ddd_value},
		#{spec_ddd_value},
		#{limit_ddd_value},
		#{doctor},
		#{rpt_date},
		#{is_anti},
		#{max_drug_aday},
		#{ordinaryddds},
		#{identity},
		#{charge_type},
		#{costs},
		#{anti_costs},
		#{drug_costs},
		#{charges},
		#{anti_charges},
		#{drug_charges},
		#{species},
		#{submit_count},
		#{is_prevention},
		#{outantiddd},
		#{outanticosts},
		#{outanticharges},
		#{outspecddds},
		#{outlimitddds},
		#{outordinaryddds},
		#{is_out},
		#{funcdeptcode},
		#{funcdeptname},
		#{funcdeptbegindate},
		#{funcdeptenddate},
		#{funcdays},
		#{is_scd},
		#{pat_funct_no},
		#{is_orderflag},
		#{uuid},
		#{outdrug_costs},
		#{outdrug_charges},
		#{first_diagnosis}

	</sql>
	
	<insert id="saveIasPatInfoScd" parameterType="pd"	>
		insert into 
		<include refid="tableName"></include>  
		(
			<include refid="Field"></include>  
		)
        values(
        	<include refid="FieldValue"></include>
        )
	</insert>

	<!-- 	科室使用强度  -->
    <select id="findDeptDDD" parameterType="pd" resultType="pd" >
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, 0, 0, (ddd_values / admission_days * 100)) intensity,
		       dept_code,
		       dept_name
		  from (select nvl(count(patient_id),0) pat_count,
		               nvl(sum(i.is_scd),0) scd,
		               nvl(sum(i.funcdays),0) admission_days,
		               nvl(sum(is_anti),0) anti_count,
		               nvl(sum(i.ddd_value),0) ddd_values,
		               funcdeptcode dept_code,
		               funcdeptname dept_name
		          from Ias_Pat_Info_scd i
		         where i.is_orderflag = '1'
		           and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd')  
		           and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		           </if>
		           <if test="keywords != null and keywords != ''">
				  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
				  </if>
				  <if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
				  	 and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
				  </if>
		         group by funcdeptcode, funcdeptname)
		 order by intensity desc
    </select>

	<!-- 	科室使用强度 汇总   -->
	<select id="findDeptDDDBySum" parameterType="pd" resultType="pd" >
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, 0, 0, decode(admission_days,0,0,(ddd_values / admission_days * 100)))   intensity
		  from (select count(b.patient_id) pat_count,
		               nvl(sum(b.is_anti),0) anti_count,
		                nvl(sum(b.is_scd),0) scd,
		                nvl(sum(b.funcdays),0) admission_days,
		                nvl(sum(b.ddd_value),0) ddd_values,
		               ''
		          from (select count(*) patient_id,
		                       i.days funcdays,
		                       decode(sum(decode(i.is_anti, 1, 1, 0)), 0, 0, 1) is_anti,
		                       decode(sum(i.is_scd), 0, 0, 1) is_scd,
		                       sum(i.ddd_value) ddd_value,
		                       sum(i.OUTANTIDDD) outantiDDD
		                  from Ias_Pat_Info_scd i
		                 where 1=1
				            	and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
		          				and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
				           <if test="persionType!= null and persionType != ''">
				           		<if test="persionType == 'adult'">
				           			and i.AGE &gt;= 18 
				           		</if>
				           		<if test="persionType == 'old'">
				           			and i.age &gt;= 65
				           		</if>
				           		<if test="persionType == 'child'">
				           			and i.age &lt;= 10
				           		</if>
				           		<if test="persionType == 'juvenile'">
				           			and i.age &lt; 18 and i.age &gt;= 11
				           		</if>		
				           </if>
				            <if test="keywords != null and keywords != ''">
							  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
							</if>
							<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
							    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
							</if>
		                 group by i.pat_funct_no, i.days) b)
		 order by intensity desc
	</select>
	
	<!-- 	科室使用强度 限制级抗菌药   -->
	<select id="findDeptDDDLimit" parameterType="pd" resultType="pd">
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, 0, 0, (ddd_values / admission_days * 100)) intensity,
		       dept_code,
		       dept_name
		  from (select nvl(count(patient_id),0) pat_count,
		               nvl(sum(i.is_scd),0) scd,
		               nvl(sum(decode(limit_ddd_value, 0, 0, 1)),0) anti_count,
		               nvl(sum(limit_ddd_value),0) ddd_values,
		               nvl(sum(i.funcdays),0) admission_days,
		               funcdeptcode dept_code,
		               funcdeptname dept_name
		          from Ias_Pat_Info_scd i
		         where i.is_orderflag = 1
		           		and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
		          		and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
				           <if test="persionType!= null and persionType != ''">
				           		<if test="persionType == 'adult'">
				           			and i.AGE &gt;= 18 
				           		</if>
				           		<if test="persionType == 'old'">
				           			and i.age &gt;= 65
				           		</if>
				           		<if test="persionType == 'child'">
				           			and i.age &lt;= 10
				           		</if>
				           		<if test="persionType == 'juvenile'">
				           			and i.age &lt; 18 and i.age &gt;= 11
				           		</if>		
				           </if>
				            <if test="keywords != null and keywords != ''">
							  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
							</if>
							<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
							    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
							</if>
		         group by funcdeptcode, funcdeptname)
		 order by intensity desc
	</select>
	
	
	<!-- 	科室使用强度限制级抗菌药 汇总   -->
	<select id="findDeptDDDLimitBySum" parameterType="pd" resultType="pd" >
		
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, 0, 0, (ddd_values / admission_days * 100)) intensity
		  from (select nvl(count(patient_id),0) pat_count,
		               nvl(sum(is_anti),0) anti_count,
		              nvl( sum(is_scd),0) scd,
		               nvl(sum(limit_ddd_value),0) ddd_values,
		               nvl(sum(funcdays),0) admission_days
		          from (select count(*) patient_id,
		                       i.days funcdays,
		                       decode(sum(limit_ddd_value), 0, 0, 1) is_anti,
		                       decode(sum(i.is_scd), 0, 0, 1) is_scd,
		                       sum(limit_ddd_value) limit_ddd_value,
		                       sum(i.outlimitddds) outlimitddds
		                  from Ias_Pat_Info_scd i
		                 where 1 = 1
		                  		and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
		          				and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
				           <if test="persionType!= null and persionType != ''">
				           		<if test="persionType == 'adult'">
				           			and i.AGE &gt;= 18 
				           		</if>
				           		<if test="persionType == 'old'">
				           			and i.age &gt;= 65
				           		</if>
				           		<if test="persionType == 'child'">
				           			and i.age &lt;= 10
				           		</if>
				           		<if test="persionType == 'juvenile'">
				           			and i.age &lt; 18 and i.age &gt;= 11
				           		</if>		
				           </if>
				            <if test="keywords != null and keywords != ''">
							  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
							</if>
							<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
							    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
							</if>
		                 group by i.pat_funct_no, i.days) b)
		 order by intensity desc
	</select>


	<!-- 	科室使用强度 限制级抗菌药   -->
	<select id="findDeptDDDSpec" parameterType="pd" resultType="pd">
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, 0, 0, (ddd_values / admission_days * 100)) intensity,
		       dept_code,
		       dept_name
		  from (select nvl(count(patient_id),0) pat_count,
		               nvl(sum(i.is_scd),0) scd,
		               nvl(sum(decode(spec_ddd_value, 0, 0, 1)),0) anti_count,
		               nvl(sum(spec_ddd_value),0) ddd_values,
		               nvl(sum(i.funcdays),0) admission_days,
		               funcdeptcode dept_code,
		               funcdeptname dept_name
		          from Ias_Pat_Info_scd i
		         where i.is_orderflag = 1
		           			and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
		          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
			           <if test="persionType!= null and persionType != ''">
			           		<if test="persionType == 'adult'">
			           			and i.AGE &gt;= 18 
			           		</if>
			           		<if test="persionType == 'old'">
			           			and i.age &gt;= 65
			           		</if>
			           		<if test="persionType == 'child'">
			           			and i.age &lt;= 10
			           		</if>
			           		<if test="persionType == 'juvenile'">
			           			and i.age &lt; 18 and i.age &gt;= 11
			           		</if>		
			           </if>
			            <if test="keywords != null and keywords != ''">
						  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
						</if>
						<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
						    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
						</if>
		         group by funcdeptcode, funcdeptname)
		 order by intensity desc
		
	</select>
	
	<!-- 	科室使用强度限制级抗菌药 汇总   -->
	<select id="findDeptDDDSpecBySum" parameterType="pd" resultType="pd" >
		
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(admission_days, 0, 0, (ddd_values / admission_days * 100)) intensity
		  from (select nvl(count(patient_id),0) pat_count,
		               nvl(sum(is_anti),0) anti_count,
		               nvl(sum(is_scd),0) scd,
		               nvl(sum(spec_ddd_value),0) ddd_values,
		               nvl(sum(funcdays),0) admission_days
		          from (select count(*) patient_id,
		                       i.days funcdays,
		                       decode(sum(i.spec_ddd_value), 0, 0, 1) is_anti,
		                       decode(sum(i.is_scd), 0, 0, 1) is_scd,
		                       sum(i.spec_ddd_value) spec_ddd_value,
		                       sum(i.outspecddds) outspecddds
		                  from Ias_Pat_Info_scd i
		                 where 1 = 1
		                   		and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
		          				and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
				           <if test="persionType!= null and persionType != ''">
				           		<if test="persionType == 'adult'">
				           			and i.AGE &gt;= 18 
				           		</if>
				           		<if test="persionType == 'old'">
				           			and i.age &gt;= 65
				           		</if>
				           		<if test="persionType == 'child'">
				           			and i.age &lt;= 10
				           		</if>
				           		<if test="persionType == 'juvenile'">
				           			and i.age &lt; 18 and i.age &gt;= 11
				           		</if>		
				           </if>
				            <if test="keywords != null and keywords != ''">
							  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
							</if>
							<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
							    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
							</if>
		                 group by i.pat_funct_no, i.days) b)
		 order by intensity desc
				
	</select>

	<select id="findDeptDoctDDDPage" parameterType="page" resultType="pd">
		select is_anti,
		       decode(admission_days, 0, 0, (ddd_values / admission_days * 100)) ddd_intensity,
		       decode(admission_days, 0, 0, (spec_ddd_values / admission_days * 100)) spec_ddd_intensity,
		       decode(admission_days,0,0,(limit_ddd_values / admission_days * 100)) limit_ddd_intensity,
		       scd,
		       dept_name,
		       dept_code,
		       ddd_values,
		       doctor,
		       spec_ddd_values,
		       limit_ddd_values,
		       (ddd_count / pat_count) antiuserat,
		       ddd_count,
		       spec_ddd_count,
		       limit_ddd_count,
		       pat_count,
		       admission_days
		  from (select decode(sum(decode(t.is_anti, 1, 1, 0)), 0, 0, 1) is_anti,
		               nvl(sum(is_scd),0) scd,
		               t.funcdeptname dept_name,
		               t.funcdeptcode dept_code,
		               t.doctor,
		               nvl(sum(ddd_value),0) ddd_values,
		               nvl(sum(t.spec_ddd_value),0) spec_ddd_values,
		               nvl(sum(t.limit_ddd_value),0) limit_ddd_values,
		               nvl(sum(decode(t.ddd_value, 0, 0, 1)),0) ddd_count,
		               nvl(sum(decode(t.spec_ddd_value, 0, 0, 1)),0) spec_ddd_count,
		               nvl(sum(decode(t.limit_ddd_value, 0, 0, 1)),0) limit_ddd_count,
		               nvl(count(t.patient_id),0) pat_count,
		               nvl(sum(t.funcdays),0) admission_days
		          from ias_pat_info_scd t
		         where t.is_orderflag = 1
		           		and t.rpt_date &gt;= to_date(#{pd.beginDate} ,'yyyy-mm-dd') 
		          		and t.rpt_date &lt;= to_date(#{pd.endDate} ,'yyyy-mm-dd') 
			           <if test="pd.persionType!= null and pd.persionType != ''">
			           		<if test="pd.persionType == 'adult'">
			           			and t.AGE &gt;= 18 
			           		</if>
			           		<if test="pd.persionType == 'old'">
			           			and t.age &gt;= 65
			           		</if>
			           		<if test="pd.persionType == 'child'">
			           			and t.age &lt;= 10
			           		</if>
			           		<if test="pd.persionType == 'juvenile'">
			           			and t.age &lt; 18 and t.age &gt;= 11
			           		</if>		
			           </if>
			            <if test="pd.keywords != null and pd.keywords != ''">
						  	 and t.funcdeptname like CONCAT(CONCAT('%', #{pd.keywords}),'%')
						</if>
						<if test="pd.DIAGNOSIS_DESC!= null and pd.DIAGNOSIS_DESC != ''">
						    and t.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{pd.DIAGNOSIS_DESC}),'%')
						</if>
		         group by  doctor, funcdeptcode, funcdeptname)
		 order by ddd_intensity desc
	</select>


	<select id="findDeptDoctPatDDDPage" parameterType="page" resultType="pd">
		select i.funcdeptcode dept_code,
		       i.funcdeptname dept_name,
		       visit_id,
		       i.patient_id,
		       i.doctor,
		       ddd_value,
		       i.funcdays,
		       i.spec_ddd_value,
		       i.limit_ddd_value,
		       decode(i.funcdays, 0, 0, (i.ddd_value / (i.funcdays) * 100)) ddd_intensity,
		       decode(i.funcdays, 0, 0, (i.spec_ddd_value / (i.funcdays) * 100)) spec_ddd_intensity,
		       decode(i.funcdays, 0, 0, (i.limit_ddd_value / (i.funcdays) * 100)) limit_ddd_intensity
		  from ias_pat_info_scd i
		 where is_orderflag = 1
		   		and i.rpt_date &gt;= to_date(#{pd.beginDate} ,'yyyy-mm-dd') 
          		and i.rpt_date &lt;= to_date(#{pd.endDate} ,'yyyy-mm-dd') 
		           <if test="pd.persionType!= null and pd.persionType != ''">
		           		<if test="pd.persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="pd.persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="pd.persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="pd.persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="pd.keywords != null and pd.keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{pd.keywords}),'%')
					</if>
					
					<if test="pd.deptCode != null and pd.deptCode != ''">
					  	 and i.funcdeptcode = #{pd.deptCode}
					</if>
					<if test="pd.DIAGNOSIS_DESC!= null and pd.DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{pd.DIAGNOSIS_DESC}),'%')
					</if>
					<if test="pd.doctor != null and pd.doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{pd.doctor}),'%')
					</if>
					<!-- 		   and funcdeptcode in ('020301') -->
					<!-- 		   and doctor like '%朱立夫%' -->
		 order by ddd_intensity desc nulls last
	</select>

	<!-- 	住院患者抗菌药物费用比 -->
	<select id="findDRANO005" parameterType="pd" resultType="pd">
		select anti_count, anti_costs_count, drug_costs_count, dept_name, dept_code
		  from (select nvl(sum(i.is_anti),0) anti_count,
		               nvl(sum(anti_costs),0) anti_costs_count,
		               nvl(sum(drug_costs),0) drug_costs_count,
		               funcdeptname dept_name,
		               funcdeptcode dept_code
		          from ias_pat_info_scd i
		         where i.is_orderflag = '1'
					and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and i.funcdeptcode = #{pd.deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by funcdeptcode, funcdeptname)
		 order by anti_count desc
	
	</select>
	
	<!-- 	住院患者抗菌药物费用比 合计 -->
	<select id="findDRANO005sum" parameterType="pd" resultType="pd">
		select count(pat_count) pat_count,
		       sum(decode(anti_count, 0, 0, 1)) anticount
		  from (select nvl(count(*),0) pat_count, nvl(sum(i.is_anti),0) anti_count
		          from ias_pat_info_scd i
		         where  i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and i.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by i.pat_funct_no)
	</select>
	
	
	<!-- 	抗菌药品种数及使用率-->
	<select id="findDRANO006" parameterType="pd" resultType="pd">
		select nvl(pat_count,0),
		       nvl(scd,0),
		       nvl(anti_count,0),
		       decode(pat_count,null,0,0,0,(anti_count / pat_count) ) antiuserat,
		       nvl(anti_type_count,0),
		       dept_name,
		       dept_code
		  from (select  count(patient_id) pat_count,
		                sum(is_scd),0) scd,
		                sum(i.is_anti) anti_count,
		                sum(i.species)  anti_type_count,
		               funcdeptname dept_name,
		               funcdeptcode dept_code
		          from ias_pat_info_scd i
		         where is_orderflag = '1'
		           	and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and i.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by funcdeptcode, funcdeptname )
		 order by antiuserat desc
	</select>
	
	<!-- 	抗菌药品种数及使用率 合计 -->
	<select id="findDRANO006sum" parameterType="pd" resultType="pd">
		select nvl(count(pat_count),0) pat_count,
		     sum(decode(anti_count,null,0, 0, 0, 1)) anti_count,
		     sum(decode(scd_count,null,0, 0, 0, 1)) scd_count
		from (select count(*) pat_count,
		             sum(i.is_scd) scd_count,
		            sum(i.is_anti) anti_count
		        from ias_pat_info_scd i
		       where i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and i.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		       group by i.pat_funct_no)
	</select>
	
	
	<!-- 	科室费用占比统计 -->
	<select id="findDRNO003" parameterType="pd" resultType="pd">
		select count(patient_id) pat_count,
		       count(is_scd) scd,
		       sum(costs) med,
               decode(sum(costs),0,0,sum(drug_costs) / sum(costs))  ranking,
		   	   decode(sum(drug_costs),0,0,sum(anti_costs) / sum(drug_costs)) antiranking,
		       sum(drug_costs) drug,
		       sum(anti_costs) anti,
		       dept_name,
		       dept_code
		  from (select l.is_scd,
		               sum(l.costs) costs,
		               sum(l.drug_costs) drug_costs,
		               sum(l.anti_costs) anti_costs,
		               l.patient_id,
		               l.visit_id,
		               l.outanticosts,
		               l.funcdeptcode dept_code,
		               l.funcdeptname dept_name
		          from ias_pat_info_scd l
		         where l.is_orderflag = '1'
		           	and l.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and l.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and l.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and l.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and l.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and l.age &lt; 18 and l.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and l.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and l.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and l.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and l.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by l.patient_id,
		                  l.visit_id,
		                  l.funcdeptcode,
		                  l.outanticosts,
		                  l.funcdeptname,
		                  l.is_scd)
		 group by dept_code, dept_name
		 order by ranking desc
	</select>
	
	<!-- 	科室费用占比统计 -->
	<select id="findDRNO008" parameterType="pd" resultType="pd">
		select count(patient_id) pat_count,
		       count(is_scd) scd,
		       sum(costs) med,
               decode(sum(costs),0,0, sum(drug_costs) / sum(costs)) ranking,
		   	   decode(sum(drug_costs),0,0, sum(anti_costs) / sum(drug_costs)) antiranking,
		       sum(drug_costs) drug,
		       sum(anti_costs) anti,
		       doctor,
		       dept_name,
		       dept_code
		  from (select l.is_scd,
		               nvl(sum(l.costs),0) costs,
		               nvl(sum(l.drug_costs),0) drug_costs,
		               nvl(sum(l.anti_costs),0) anti_costs,
		               l.patient_id,
		               l.visit_id,
		               l.doctor,
		               l.outanticosts,
		               l.funcdeptcode dept_code,
		               l.funcdeptname dept_name
		          from ias_pat_info_scd l
		         where l.is_orderflag = '1'
		           	and l.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and l.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and l.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and l.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and l.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and l.age &lt; 18 and l.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and l.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and l.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and l.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and l.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by l.patient_id,
		                  l.visit_id,
		                  l.doctor,
		                  l.funcdeptcode,
		                  l.outanticosts,
		                  l.funcdeptname,
		                  l.is_scd)
		 group by dept_code, dept_name,doctor
		 order by ranking desc
	</select>
	
	<!-- 	病原学送检统计-科室   -->
	<select id="findDRANO010" parameterType="pd" resultType="pd">
		select anti_count,
		       submit_count,
		       submit_count/decode(anti_count,0,1,anti_count)  antiranking,
		       dept_name,
		       dept_code,
		       limit_anti_count,
		       limit_submit_count,
		       limit_submit_count/decode(limit_anti_count,0,1,limit_anti_count) linitranking,
		       spec_anti_count,
		       spec_submit_count,
		       spec_submit_count/decode(spec_anti_count,0,1,spec_anti_count) specranking
		  from (select nvl(sum(i.is_anti),0) anti_count,
		               nvl(sum(submit_count),0) submit_count,
		               nvl(sum(decode(limit_ddd_value, 0, 0, 1)),0) limit_anti_count,
		               nvl(sum(decode(submit_count, 0, 0, decode(limit_ddd_value, 0, 0, 1))),0) limit_submit_count,
		               nvl(sum(decode(spec_ddd_value, 0, 0, 1)),0) spec_anti_count,
		               nvl(sum(decode(submit_count, 0,0, decode(spec_ddd_value, 0, 0, 1))),0) spec_submit_count,
		               funcdeptcode dept_code,
		               funcdeptname dept_name
		          from ias_pat_info_scd i
		         where is_orderflag = '1'
		           	and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and i.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by funcdeptcode, funcdeptname)
		 order by anti_count desc
	</select>
	<!-- 	病原学送检统计-科室   合计 -->
	<select id="findDRANO010~011sum" parameterType="pd" resultType="pd">
			select 
				   count(pat_count) allpat_count,
			       sum(decode(limit_count, 0, 0, 1)) limit_count,
			       sum(decode(spec_count, 0, 0, 1)) spec_count,
			       sum(submit_count) submit_count,
			       sum(decode(spec_submit_count, 0, 0, 1)) spec_submit_count,
			        sum(decode(spec_submit_count, 0, 0, 1))/sum(decode(spec_count, 0, 0, 1)) specranking,
			       sum(decode(limit_submit_count, 0, 0, 1)) limit_submit_count,
			       sum(decode(limit_submit_count, 0, 0, 1))/sum(decode(limit_count, 0, 0, 1)) limitranking,
			       sum(decode(anti_count, 0, 0, 1)) anti_count,
			       sum(submit_count)/sum(decode(anti_count, 0, 0, 1)) antiranking ,
			       sum(days) outdays,
			       sum(decode(scd_count, 0, 0, 1)) changedept_count
		  from (select nvl(count(*),0) pat_count,
		               i.days,
		               nvl(sum(i.is_scd) scd_count,sum(decode(i.submit_count, 0, 0, 1)),0) submit_count,
		               nvl(sum(decode(i.limit_ddd_value, 0, 0, 1)),0) limit_count,
		               nvl(sum(decode(i.spec_ddd_value, 0, 0, 1)),0) spec_count,
		               nvl(sum(decode(submit_count,0,0,decode(spec_ddd_value, 0, 0, 1))),0) spec_submit_count,
		               nvl(sum(decode(submit_count,0,0,decode(limit_ddd_value, 0, 0, 1))),0) limit_submit_count,
		               nvl(sum(i.is_anti),0) anti_count
		          from ias_pat_info_scd i
		         where 
		         	i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		            <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="keywords != null and keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
					</if>
					
					<if test="deptCode != null and deptCode != ''">
					  	 and i.funcdeptcode = #{deptCode}
					</if>
					<if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
					</if>
					<if test="doctor != null and doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{doctor}),'%')
					</if>
		         group by i.pat_funct_no, i.days)
	</select>
	
	<!-- 	病原学送检统计-医生   -->
	<select id="findDRANO011Page" parameterType="page" resultType="pd">
		select anti_count,
		       submit_count,
		       submit_count/decode(anti_count,0,1,anti_count)  antiranking,
		       doctor,
		       dept_name,
		       dept_code,
		       limit_anti_count,
		       limit_submit_count,
		       limit_submit_count/decode(limit_anti_count,0,1,limit_anti_count) linitranking,
		       spec_anti_count,
		       spec_submit_count,
		       spec_submit_count/decode(spec_anti_count,0,1,spec_anti_count) specranking
		  from (select nvl(sum(i.is_anti),0) anti_count,
		               nvl(sum(submit_count),0) submit_count,
		               nvl(sum(decode(limit_ddd_value, 0, 0, 1)),0) limit_anti_count,
		               nvl(sum(decode(submit_count, 0, 0, decode(limit_ddd_value, 0, 0, 1))),0) limit_submit_count,
		               nvl(sum(decode(spec_ddd_value, 0, 0, 1)),0) spec_anti_count,
		               nvl(sum(decode(submit_count, 0,0, decode(spec_ddd_value, 0, 0, 1))),0) spec_submit_count,
		               funcdeptcode dept_code,
		               funcdeptname dept_name,
		               doctor
		          from ias_pat_info_scd i
		         where is_orderflag = '1'
		           	and i.rpt_date &gt;= to_date(#{pd.beginDate} ,'yyyy-mm-dd') 
          			and i.rpt_date &lt;= to_date(#{pd.endDate} ,'yyyy-mm-dd') 
		           <if test="pd.persionType!= null and pd.persionType != ''">
		           		<if test="pd.persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="pd.persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="pd.persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="pd.persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		            </if>
		            <if test="pd.keywords != null and pd.keywords != ''">
					  	 and i.funcdeptname like CONCAT(CONCAT('%', #{pd.keywords}),'%')
					</if>
					
					<if test="pd.deptCode != null and pd.deptCode != ''">
					  	 and i.funcdeptcode = #{pd.deptCode}
					</if>
					<if test="pd.DIAGNOSIS_DESC!= null and pd.DIAGNOSIS_DESC != ''">
					    and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{pd.DIAGNOSIS_DESC}),'%')
					</if>
					<if test="pd.doctor != null and pd.doctor != ''">
						and i.doctor like CONCAT(CONCAT('%', #{pd.doctor}),'%')
					</if>
		         group by doctor, funcdeptcode, funcdeptname)
		 order by anti_count desc
	</select>
	
	
	<!-- 	静脉输液使用情况 -->
	<select id="findDRANO012" parameterType="pd" resultType="pd">
		select scd,
		       pat_count,
		       anti_count,
		       ddd_values,
		       admission_days,
		       decode(adminjmsysum, 0, 0, (adminjmsysum / pat_count * 100)) intensity,
		       decode(adminantijmsysum, 0,0,(adminantijmsysum / adminjmsysum * 100)) intensityanti,
		       dept_code,
		       dept_name,
		       decode(adminjmsysum, 0, 0, adminjmsysum) adminjmsysum,
		       decode(adminantijmsysum, 0, 0, adminantijmsysum) adminantijmsysum
		  from (select nvl(count(patient_id),0) pat_count,
		               nvl(sum(i.is_scd),0) scd,
		               nvl(sum(i.funcdays),0) admission_days,
		               nvl(sum(is_anti),0) anti_count,
		               nvl(sum(i.ddd_value),0) ddd_values,
		               nvl(sum(i.adminjmsy),0) adminjmsysum,
		               nvl(sum(i.adminantijmsy),0) adminantijmsysum,
		               funcdeptcode dept_code,
		               funcdeptname dept_name
		          from Ias_Pat_Info_scd i
		         where i.is_orderflag = '1'
		           and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd')  
		           and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
		           <if test="persionType!= null and persionType != ''">
		           		<if test="persionType == 'adult'">
		           			and i.AGE &gt;= 18 
		           		</if>
		           		<if test="persionType == 'old'">
		           			and i.age &gt;= 65
		           		</if>
		           		<if test="persionType == 'child'">
		           			and i.age &lt;= 10
		           		</if>
		           		<if test="persionType == 'juvenile'">
		           			and i.age &lt; 18 and i.age &gt;= 11
		           		</if>		
		           </if>
		           <if test="keywords != null and keywords != ''">
				  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
				  </if>
				  <if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
				  	 and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
				  </if>
		         group by funcdeptcode, funcdeptname)
		 order by intensity desc
	</select>
	
	
	<!-- 	静脉输液使用情况  合计    -->
	<select id="findDRANO012sum" parameterType="pd" resultType="pd">
		select scd,
	           pat_count,
	           anti_count,
	           ddd_values,
	           admission_days,
	           decode(adminjmsysum, 0, 0, (adminjmsysum / pat_count * 100)) intensity,
	           decode(adminantijmsysum, 0, 0, (adminantijmsysum / adminjmsysum * 100)) intensityanti,
	           adminjmsysum,
	           adminantijmsysum
	      from (select nvl(count(b.patient_id),0) pat_count,
	                   nvl(sum(b.is_anti),0) anti_count,
	                   nvl(sum(b.is_scd),0) scd,
	                  nvl( sum(b.funcdays),0) admission_days,
	                  nvl( sum(b.ddd_value),0) ddd_values,
	                   nvl(sum(adminjmsysum),0) adminjmsysum ,
	                   nvl(sum(adminantijmsysum),0) adminantijmsysum ,
	                   ''
	              from (select count(*) patient_id,
	                           i.days funcdays,
	                           decode(sum(decode(i.is_anti, 1, 1, 0)), 0, 0, 1) is_anti,
	                           decode(sum(i.is_scd), 0, 0, 1) is_scd,
	                           sum(i.ddd_value) ddd_value,
	                           sum(i.adminjmsy) adminjmsysum,
	                           sum(i.adminantijmsy) adminantijmsysum,
	                           sum(i.OUTANTIDDD) outantiDDD
	                      from Ias_Pat_Info_scd i
			                 where 1=1
			               and i.rpt_date &gt;= to_date(#{beginDate} ,'yyyy-mm-dd')  
				           and i.rpt_date &lt;= to_date(#{endDate} ,'yyyy-mm-dd') 
				           <if test="persionType!= null and persionType != ''">
				           		<if test="persionType == 'adult'">
				           			and i.AGE &gt;= 18 
				           		</if>
				           		<if test="persionType == 'old'">
				           			and i.age &gt;= 65
				           		</if>
				           		<if test="persionType == 'child'">
				           			and i.age &lt;= 10
				           		</if>
				           		<if test="persionType == 'juvenile'">
				           			and i.age &lt; 18 and i.age &gt;= 11
				           		</if>		
				           </if>
				           <if test="keywords != null and keywords != ''">
						  	 and i.funcdeptname like CONCAT(CONCAT('%', #{keywords}),'%')
						  </if>
						  <if test="DIAGNOSIS_DESC!= null and DIAGNOSIS_DESC != ''">
						  	 and i.FIRST_DIAGNOSIS like CONCAT(CONCAT('%', #{DIAGNOSIS_DESC}),'%')
						  </if>
			      group by i.pat_funct_no, i.days) b)
			 order by intensity desc
	</select>
	
</mapper>