<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RSDCCMapper">

	<!--表名  总体审核情况 -->
	<sql id="tableName">
		RS_DRUG_CHECKINFO_COLLECT
	</sql>
	
	<sql id="Field">
	   NGROUPNUM,
	   NADVICENUM,
	   NREDADVICEQUESSUM,
	   NYELLOWADVICEQUESSUM,
	   VDOCTORCODE,
	   VDOCTORNAME,
	   VORGCODE,
	   VORGNAME,
	   NALLERGENRED,
	   NALLERGENYELLOW,
	   NIVEFFECTRED,
	   NIVEFFECTYELLOW,
	   NDIAGINFORED,
	   NDIAGINFOYELLOW,
	   NINTERACTIONRED,
	   NINTERACTIONYELLOW,
	   NADMINISTRATIONRED,
	   NADMINISTRATIONYELLOW,
	   NDOSAGECHECKRED,
	   NDOSAGECHECKYELLOW,
	   NINGREDIENTRED,
	   NINGREDIENTYELLOW,
	   NOLDRED,
	   NOLDYELLOW,
	   NKIDRED,
	   NKIDYELLOW,
	   NPREGNANTRED,
	   NPREGNANTYELLOW,
	   NLACTATIONRED,
	   NLACTATIONYELLOW,
	   NRENALRED,
	   NRENALYELLOW,
	   NHEPATICALRED,
	   NHEPATICALYELLOW,
	   NSIDERED,
	   NSIDEYELLOW,
	   CHECKDATE,
	   IN_RS_TYPE
	</sql>
	
	<sql id="FieldValue">
	   #{NGROUPNUM,jdbcType=VARCHAR},
	   #{NADVICENUM,jdbcType=NUMERIC},
	   #{NREDADVICEQUESSUM,jdbcType=NUMERIC},
	   #{NYELLOWADVICEQUESSUM,jdbcType=NUMERIC},
	   #{VDOCTORCODE,jdbcType=VARCHAR},
	   #{VDOCTORNAME,jdbcType=VARCHAR},
	   #{VORGCODE,jdbcType=VARCHAR},
	   #{VORGNAME,jdbcType=VARCHAR},
	   #{NALLERGENRED,jdbcType=NUMERIC},
	   #{NALLERGENYELLOW,jdbcType=NUMERIC},
	   #{NIVEFFECTRED,jdbcType=NUMERIC},
	   #{NIVEFFECTYELLOW,jdbcType=NUMERIC},
	   #{NDIAGINFORED,jdbcType=NUMERIC},
	   #{NDIAGINFOYELLOW,jdbcType=NUMERIC},
	   #{NINTERACTIONRED,jdbcType=NUMERIC},
	   #{NINTERACTIONYELLOW,jdbcType=NUMERIC},
	   #{NADMINISTRATIONRED,jdbcType=NUMERIC},
	   #{NADMINISTRATIONYELLOW,jdbcType=NUMERIC},
	   #{NDOSAGECHECKRED,jdbcType=NUMERIC},
	   #{NDOSAGECHECKYELLOW,jdbcType=NUMERIC},
	   #{NINGREDIENTRED,jdbcType=NUMERIC},
	   #{NINGREDIENTYELLOW,jdbcType=NUMERIC},
	   #{NOLDRED,jdbcType=NUMERIC},
	   #{NOLDYELLOW,jdbcType=NUMERIC},
	   #{NKIDRED,jdbcType=NUMERIC},
	   #{NKIDYELLOW,jdbcType=NUMERIC},
	   #{NPREGNANTRED,jdbcType=NUMERIC},
	   #{NPREGNANTYELLOW,jdbcType=NUMERIC},
	   #{NLACTATIONRED,jdbcType=NUMERIC},
	   #{NLACTATIONYELLOW,jdbcType=NUMERIC},
	   #{NRENALRED,jdbcType=NUMERIC},
	   #{NRENALYELLOW,jdbcType=NUMERIC},
	   #{NHEPATICALRED,jdbcType=NUMERIC},
	   #{NHEPATICALYELLOW,jdbcType=NUMERIC},
	   #{NSIDERED,jdbcType=NUMERIC},
	   #{NSIDEYELLOW,jdbcType=NUMERIC},
	   #{CHECKDATE,jdbcType=TIMESTAMP},
	   #{IN_RS_TYPE,jdbcType=VARCHAR}
	</sql>
	
	<insert id="saveDrugCheckInfoCollection" parameterType="pd"	>
		insert into 
		<include refid="tableName"></include>  
		(
			<include refid="Field"></include>  
		)
        values(
        	<include refid="FieldValue"></include>
        )
	</insert>

</mapper>