<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AllHospitalMapper">
	<select id="allHospital11" parameterType="page" resultType="pd" >
		select sum(costs) med,
	       sum(drug_costs) drug,
	       sum(anti_costs) anti,
	       dept_name,
	       dept_code
	 	from (select sum(l.costs) costs,
               sum(l.drug_costs) drug_costs,
               l.patient_id,
               l.visit_id,
               l.funcdeptcode dept_code,
               l.funcdeptname dept_name,
               sum(l.anti_costs) anti_costs
         from ias_pat_info_scd l
         where 1 = 1
           and is_orderflag = '1'
           <if test="pd.beginDate != null and pd.beginDate != ''"> <!-- 更新时间 开始-->  
				and l.rpt_date &gt;=  to_date(#{pd.beginDate}, 'yyyy-mm-dd')
			</if>
			<if test="pd.endDate != null and pd.endDate != ''"> <!-- 更新时间 结束-->
				and l.rpt_date &lt; to_date(#{pd.endDate}, 'yyyy-mm-dd')
			</if>
         group by l.patient_id, l.visit_id, l.funcdeptcode, l.funcdeptname)
 		group by dept_code, dept_name 
 		
 		<if test="pd.sort_type == null or pd.sort_type == ''">  
 	 		order by SUM(s.costs)
 	 	</if>
  		<if test="pd.sort_type != null and pd.sort_type == 1"> 
			order by SUM(s.costs)
		</if>
	 	<if test="pd.sort_type != null and pd.sort_type == 2"> 
  			order by SUM(s.costs) desc
  		</if>
  		<if test="pd.sort_type != null and pd.sort_type == 3"> 
  			order by sum(drug_costs)
  		</if>
  		<if test="pd.sort_type != null and pd.sort_type == 4"> 
  			order by sum(drug_costs) desc
  		</if>
  		<if test="pd.sort_type != null and pd.sort_type == 5"> 
  			order by sum(anti_costs)
  		</if>
  		<if test="pd.sort_type != null and pd.sort_type == 6"> 
  			order by sum(anti_costs) desc
  		</if>
	</select>
	
	<select id="allHospital12" parameterType="page" resultType="pd" >
		select sum(decode(t.item_class, 'A', t.costs, 0)) drug,
	       sum(t.costs) med,
	       sum(decode(t.item_class, 'A', decode(t.is_anti, '1', t.costs, 0), 0)) anti,
	       t.ordered_by_dept dept_name,
	       t.ordered_by_dept_code dept_code
	  from outp_orders_costs t,
	       (select drug_no_local
	          from pdss.drug_map
	         where 1 = 1
	         group by drug_no_local) d
	 where t.item_code = d.Drug_No_Local
             <if test="pd.beginDate != null and pd.beginDate != ''"> <!-- 更新时间 开始-->  
				and trunc(t.visit_date) &gt;=  to_date(#{pd.beginDate}, 'yyyy-mm-dd')
			</if>
			<if test="pd.endDate != null and pd.endDate != ''"> <!-- 更新时间 结束-->
				and trunc(t.visit_date) &lt; to_date(#{pd.endDate}, 'yyyy-mm-dd')
			</if>
	 group by t.ordered_by_dept, t.ordered_by_dept_code
	 <if test="pd.sort_type == null or pd.sort_type == ''">  
 	 		order by SUM(s.costs)
 	 	</if>
  		<if test="pd.sort_type != null and pd.sort_type == 1"> 
			order by SUM(s.costs)
		</if>
	 	<if test="pd.sort_type != null and pd.sort_type == 2"> 
  			order by SUM(s.costs) desc
  		</if>
  		<if test="pd.sort_type != null and pd.sort_type == 3"> 
  			order by sum(drug_costs)
  		</if>
  		<if test="pd.sort_type != null and pd.sort_type == 4"> 
  			order by sum(drug_costs) desc
  		</if>
  		<if test="pd.sort_type != null and pd.sort_type == 5"> 
  			order by sum(anti_costs)
  		</if>
  		<if test="pd.sort_type != null and pd.sort_type == 6"> 
  			order by sum(anti_costs) desc
  		</if>
	</select>
		
	<select id="allHospital2" parameterType="page" resultType="pd" >
			select t.drug_code,
	      t.drug_name,
	     t.drug_spec,
	     t.firm_id,
	     t.units,
	     sum(cost) costs,
	     sum(amount) amounts
	from (
	
	select m.drug_code,
             m.drug_name,
             m.units,
             m.package_spec drug_spec,
             m.firm_id,
             m.cost         cost,
             m.amount       amount
        from PEAAS.Dr_Drugdaycost m, pdss.Drug_Map d
       where m.Drug_Code = d.Drug_No_Local
           <if test="pd.beginDate != null and pd.beginDate != ''"> <!-- 更新时间 开始-->  
				and m.dr_date &gt;=  to_date(#{pd.beginDate}, 'yyyy-mm-dd')
			</if>
			<if test="pd.endDate != null and pd.endDate != ''"> <!-- 更新时间 结束-->
				and m.dr_date &lt; to_date(#{pd.endDate}, 'yyyy-mm-dd')
			</if>
      union all
      select h.drug_code,
             h.drug_name,
             h.drug_units units,
             h.drug_spec drug_spec,
             h.firm_id,
             to_char(h.costs) cost,
             to_char(h.amount) amount
        from dr_drug h, pdss.Drug_Map d
       where h.Drug_Code = d.Drug_No_Local
         	<if test="pd.beginDate != null and pd.beginDate != ''"> <!-- 更新时间 开始-->  
				and h.rpt_date  &gt;=  to_date(#{pd.beginDate}, 'yyyy-mm-dd')
			</if>
			<if test="pd.endDate != null and pd.endDate != ''"> <!-- 更新时间 结束-->
				and h.rpt_date  &lt; to_date(#{pd.endDate}, 'yyyy-mm-dd')
			</if>
		) t
		group by t.drug_code, t.drug_name,t.drug_spec, t.firm_id, t.units
		
		order by costs desc
	</select>
</mapper>