.drugNormal{
	background-image: url("../../images/show/drugNormal.png");
	background-repeat: no-repeat;
	width: 90px;
	height: 90px;
}
.gexingNormal{
	background-image: url("../../images/show/gexingNormal.png");
	background-repeat: no-repeat;
		width: 90px;
	height: 90px;
}
.kangjunNormal{
	background-image: url("../../images/show/kangjunNormal.png");
	background-repeat: no-repeat;
		width: 90px;
	height: 90px;
}
.gongshiNormal{
	background-image: url("../../images/show/gongshiNormal.png");
	background-repeat: no-repeat;
		width: 90px;
	height: 90px;
}
.faguiNormal{
	background-image: url("../../images/show/faguiNormal.png");
	background-repeat: no-repeat;
		width: 90px;
	height: 90px;
}
.linchuangNormal{
	background-image: url("../../images/show/linchuangNormal.png");
	background-repeat: no-repeat;
		width: 90px;
	height: 90px;
}
.lujingNormal{
	background-image: url("../../images/show/lujingNormal.png");
	background-repeat: no-repeat;
		width: 90px;
	height: 90px;
}
