<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MatcherMapper">

<!-- 查询药品未匹配信息 -->
<select id="drugMapListPage" parameterType="page" resultType="pd">
	 select * from drug_map a where DRUG_ID is null
	 <if test="pd.drugCode != null and pd.drugCode != ''">
	 	and drug_no_local LIKE CONCAT(CONCAT('%', #{pd.drugCode}),'%')
	 </if>
	 <if test="pd.drugName != null and pd.drugName != ''">
	 	and drug_no_local  LIKE CONCAT(CONCAT('%', #{pd.drugName}),'%')
	 </if>
	  <if test="pd.whereValue != null and pd.whereValue != ''">
	 	and pd.whereField LIKE CONCAT(CONCAT('%', #{pd.whereValue}),'%')
	 </if>
	 <if test="pd.q_is_anti != null and pd.q_is_anti == '0'">
	 	and is_anti='1'
	 </if>
	 <if test="pd.q_is_anti != null and pd.q_is_anti == '4'">
	 	and is_anti='1' and is_external='1'
	 </if>
	 <if test="pd.q_is_anti != null and pd.q_is_anti == '5'">
	 	and is_anti='1' and is_external='0'
	 </if>
	 <if test="pd.q_is_anti != null and pd.q_is_anti != '' and pd.q_is_anti != '0' and pd.q_is_anti != '4' and pd.q_is_anti != '5'">
	 	and is_anti='1' and anti_level=#{pd.q_is_anti}
	 </if>
	 
	 <if test="pd.q_is_psychotic != null and pd.q_is_psychotic == '0'">
	 	 and (is_psychotic = '1' or is_psychotic = '2') 
	 </if>
	 <if test="pd.q_is_psychotic != null and pd.q_is_psychotic == '1'">
	 	and is_psychotic = '1'
	 </if>
	 <if test="pd.q_is_psychotic != null and pd.q_is_psychotic == '2'">
	 	and is_psychotic = '2'
	 </if>
	 
	 <if test="pd.q_is_danger != null and pd.q_is_danger == '0'">
		and (is_danger='1' or is_danger='2' or is_danger='3') 
	 </if>
	 <if test="pd.q_is_danger != null and pd.q_is_danger == '1'">
		and is_danger='1' 
	 </if>
	 <if test="pd.q_is_danger != null and pd.q_is_danger == '2'">
	 	and is_danger='2' 
	 </if>
	 <if test="pd.q_is_danger != null and pd.q_is_danger == '3'">
	 	and is_danger='3'
	 </if>
	 
	 <if test="pd.matched != null and pd.matched == '3'">
	 	and drug_id =#{matched}
	 </if>
	 order by drug_no_local asc
</select>

<select id="drugList" parameterType="pd" resultType="pd">
	select * from drug a
	where 1=1
	<if test="DRUG_NAME != null and DRUG_NAME != ''">
		and DRUG_NAME  like CONCAT(CONCAT('%', #{DRUG_NAME}),'%')  
	</if>
	<if test="STAD_DRUG_NAME != null and STAD_DRUG_NAME != ''">
		and DRUG_NAME  = #{STAD_DRUG_NAME}
	</if>
	
	 order by a.DRUG_NAME,a.DRUG_FORM,a.UNITS,a.DOSE_UNITS,DOSE_PER_UNIT
</select>

<select id="countMatcherSum" parameterType="pd" resultType="pd">
	select nvl(count(DRUG_MAP_ID),0) drug_all, nvl(sum(decode(DRUG_ID,null,0,'',0,1)),0) success
	from drug_map a 
</select>
<select id="getFilterList" resultType="String" >
	select value from USELESSCHAR
</select>

</mapper>