<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="JmsyMapper">
<!-- 处方数，含外用 -->
	<select id="jmsy11" parameterType="pd" resultType="pd" >
		select org_name dept_name,
	       org_code dept_code,
	       nvl(c,0) c,
	       nvl(haskj,0) haskj,
	       nvl(100*haskj / c,0) rate
		from (select org_code, org_name, count(*) c, nvl(sum(adminjmsy),0) haskj
	          from presc t
	         where order_type = 1
	         	<if test="beginDate != null and beginDate != ''"> <!-- 更新时间 开始-->  
					and t.ORDER_DATE &gt;= #{beginDate} 
				</if>
				<if test="endDate != null and endDate != ''"> <!-- 更新时间 结束-->
					and t.ORDER_DATE &lt; #{endDate}
				</if>
				<if test="org_name != null and org_name != ''"> <!-- 科室-->
					and t.org_name = #{org_name}
				</if>
        	group by org_code, org_name)
 		order by rate desc
	</select>
<!-- 	处方数(人次) ，含外用 -->
	<select id="jmsy12" parameterType="pd" resultType="pd" >
		select org_code dept_code,
			org_name dept_name,
			nvl(c,0) c,
			nvl(haskj,0) haskj,
			nvl(100*haskj / c ,0) rate
  		from (select org_code,
               org_name,
               count(*) c,
               sum(decode(haskj, 0, 0, 1)) haskj
          		from (select org_code,
                       org_name,
                       patient_id,
                       order_date,
                       nvl(sum(adminjmsy),0) haskj
                  from presc t
                 where order_type = 1
                   <if test="beginDate != null and beginDate != ''"> <!-- 更新时间 开始-->  
					and t.ORDER_DATE &gt;= #{beginDate} 
				</if>
				<if test="endDate != null and endDate != ''"> <!-- 更新时间 结束-->
					and t.ORDER_DATE &lt; #{endDate}
				</if>
				<if test="org_name != null and org_name != ''"> <!-- 科室-->
					and t.org_name = #{org_name}
				</if>
                 group by org_code, org_name, patient_id, order_date
             	)
         		group by org_code, org_name
         	)
		 order by rate desc
	</select>
	
	<select id="jmsy21" parameterType="pd" resultType="pd" >
		select org_name, org_code, doctor_name, 
			nvl(c,0) c, 
			nvl(haskj,0) haskj, 
			nvl(100*haskj / c,0) rate
		  from (select org_code, org_name, count(*) c, nvl(sum(adminantijmsy),0) haskj, doctor_name
		          from presc t
		         where t.order_type = 1
		        <if test="beginDate != null and beginDate != ''"> <!-- 更新时间 开始-->  
					and t.ORDER_DATE &gt;= #{beginDate} 
				</if>
				<if test="endDate != null and endDate != ''"> <!-- 更新时间 结束-->
					and t.ORDER_DATE &lt; #{endDate}
				</if>
				<if test="org_name != null and org_name != ''"> <!-- 科室-->
					and t.org_name = #{org_name}
				</if>
		         group by org_code, doctor_name, org_name)
		 order by rate desc
	</select>
	
		
	<select id="jmsy22" parameterType="pd" resultType="pd" >
		select doctor_name,
	       nvl(sum(haskj),0) haskj,
	       nvl(100*sum(haskj) / count(patient_id),0) rate,
	       org_code,
	       org_name,
	       nvl(count(distinct patient_id),0) c
  		from (select org_code,
               patient_id,
               decode(sum(adminantijmsy), 0, 0, 1) haskj,
               doctor_name,
               org_name
	         from presc t
	         where order_type = 1
	            <if test="beginDate != null and beginDate != ''"> <!-- 更新时间 开始-->  
					and t.ORDER_DATE &gt;= #{beginDate} 
				</if>
				<if test="endDate != null and endDate != ''"> <!-- 更新时间 结束-->
					and t.ORDER_DATE &lt; #{endDate}
				</if>
	         group by org_code, patient_id, doctor_name, org_name)
		 group by org_code, doctor_name, org_name
		 order by rate desc
	</select>
</mapper>