<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RuleParamMapper">
	
	<!--表名 -->
	<sql id="tableName">
		ruleparameter 
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
	 	rulename,
		rulevalue,
		ruleid,
		rulecode,
		ruledesc,
		redirect_tag
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{rulename},
		#{rulevalue},
		#{ruleid},
		#{rulecode},
		#{ruledesc},
		#{redirect_tag,jdbcType=VARCHAR}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="Field"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			rulecode = #{rulecode}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
			set 
				rulename = #{rulename},
				rulevalue = #{rulevalue},
				ruledesc =#{ruledesc}
			where 
				rulecode = #{rulecode}
	</update>
	
	<select id="findByRuleParamPage" parameterType="page" resultType="pd">
		select 
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
			
		where 1=1 
		
		<if test="pd.workcode != null and pd.workcode != ''">
			and 
			(
				rulename like CONCAT(CONCAT('%', #{pd.workcode}),'%')
				or 
				rulecode like CONCAT(CONCAT('%', #{pd.workcode}),'%')
			)
		</if>
		order by rulename
	</select>
	
	<select id="findByRuleParamByRuleCode" parameterType="pd" resultType="pd">
		select 
			<include refid="Field"></include>
		from 
			<include refid="tableName"></include>
		where 
			rulecode = #{rulecode}
		order by rulename
	</select>
	
</mapper>