<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PatVisitMapper">

	<!--表名 -->
	<sql id="tableName">
		pat_visit
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
 		patient_id,
		visit_id,
		dept_admission_to,
		admission_date_time,
		dept_discharge_from,
		discharge_date_time,
		occupation,
		marital_status,
		identity,
		armed_services,
		duty,
		unit_in_contract,
		charge_type,
		working_status,
		insurance_type,
		insurance_no,
		service_agency,
		mailing_address,
		zip_code,
		next_of_kin,
		relationship,
		next_of_kin_addr,
		next_of_kin_zipcode,
		next_of_kin_phone,
		patient_class,
		admission_cause,
		consulting_date,
		pat_adm_condition,
		consulting_doctor,
		admitted_by,
		emer_treat_times,
		esc_emer_times,
		serious_cond_days,
		critical_cond_days,
		icu_days,
		ccu_days,
		spec_level_nurs_days,
		first_level_nurs_days,
		second_level_nurs_days,
		autopsy_indicator,
		blood_type,
		blood_type_rh,
		blood_tran_times,
		blood_tran_vol,
		blood_tran_react_times,
		decubital_ulcer_times,
		alergy_drugs,
		adverse_reaction_drugs,
		mr_value,
		mr_quality,
		follow_indicator,
		follow_interval,
		follow_interval_units,
		director,
		attending_doctor,
		doctor_in_charge,
		discharge_disposition,
		total_costs,
		total_payments,
		catalog_date,
		cataloger,
		catalog_writer,
		infusion_react_times,
		top_unit,
		service_system_indicator,
		health_level,
		mr_infect_report,
		infect_indicator,
		body_weight,
		body_height,
		internal_no,
		identity_class,
		hbsag_indicator,
		hcv_ab_indicator,
		hiv_ab_indicator,
		chief_doctor,
		advanced_studies_doctor,
		practice_doctor_of_graduate,
		practice_doctor,
		doctor_of_control_quality,
		nurse_of_control_quality,
		date_of_control_quality,
		first_case_indicator,
		third_level_nurs_days,
		x_exam_no,
		medical_pay_way,
		first_aid_indicator,
		training_injury_indicator,
		in_dept_name,
		in_clinic_attr,
		in_outp_or_inp,
		in_internal_or_sergery,
		out_dept_name,
		out_clinic_attr,
		out_outp_or_inp,
		out_internal_or_sergery,
		settle_indi,
		link_date,
		NGROUPNUM,
		ISORDERCHECK,
		ISCHECKTRUE,
		expert_id
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
 		#{patient_id}},
		#{visit_id},
		#{dept_admission_to},
		#{admission_date_time},
		#{dept_discharge_from},
		#{discharge_date_time},
		#{occupation},
		#{marital_status},
		#{identity},
		#{armed_services},
		#{duty},
		#{unit_in_contract},
		#{charge_type},
		#{working_status},
		#{insurance_type},
		#{insurance_no},
		#{service_agency},
		#{mailing_address},
		#{zip_code},
		#{next_of_kin},
		#{relationship},
		#{next_of_kin_addr},
		#{next_of_kin_zipcode},
		#{next_of_kin_phone},
		#{patient_class},
		#{admission_cause},
		#{consulting_date},
		#{pat_adm_condition},
		#{consulting_doctor},
		#{admitted_by},
		#{emer_treat_times},
		#{esc_emer_times},
		#{serious_cond_days},
		#{critical_cond_days},
		#{icu_days},
		#{ccu_days},
		#{spec_level_nurs_days},
		#{first_level_nurs_days},
		#{second_level_nurs_days},
		#{autopsy_indicator},
		#{blood_type},
		#{blood_type_rh},
		#{blood_tran_times},
		#{blood_tran_vol},
		#{blood_tran_react_times},
		#{decubital_ulcer_times},
		#{alergy_drugs},
		#{adverse_reaction_drugs},
		#{mr_value},
		#{mr_quality},
		#{follow_indicator},
		#{follow_interval},
		#{follow_interval_units},
		#{director},
		#{attending_doctor},
		#{doctor_in_charge},
		#{discharge_disposition},
		#{total_costs},
		#{total_payments},
		#{catalog_date},
		#{cataloger},
		#{catalog_writer},
		#{infusion_react_times},
		#{top_unit},
		#{service_system_indicator},
		#{health_level},
		#{mr_infect_report},
		#{infect_indicator},
		#{body_weight},
		#{body_height},
		#{internal_no},
		#{identity_class},
		#{hbsag_indicator},
		#{hcv_ab_indicator},
		#{hiv_ab_indicator},
		#{chief_doctor},
		#{advanced_studies_doctor},
		#{practice_doctor_of_graduate},
		#{practice_doctor},
		#{doctor_of_control_quality},
		#{nurse_of_control_quality},
		#{date_of_control_quality},
		#{first_case_indicator},
		#{third_level_nurs_days},
		#{x_exam_no},
		#{medical_pay_way},
		#{first_aid_indicator},
		#{training_injury_indicator},
		#{in_dept_name},
		#{in_clinic_attr},
		#{in_outp_or_inp},
		#{in_internal_or_sergery},
		#{out_dept_name},
		#{out_clinic_attr},
		#{out_outp_or_inp},
		#{out_internal_or_sergery},
		#{settle_indi},
		#{link_date},
		#{NGROUPNUM},
		#{ISORDERCHECK},
		#{ISCHECKTRUE},
		#{expert_id}
	</sql>
	
	
	<!--查询病人信息  -->
	<select id="patvisitlistPage" parameterType="page" resultType="pd">
		select  p.NAME,P.SEX,P.DATE_OF_BIRTH,p.PHONE_NUMBER_HOME,t.PAT_AGE,
			t.patient_id,t.visit_id,t.dept_admission_to,t.admission_date_time,
			t.dept_discharge_from,t.discharge_date_time,t.occupation,t.marital_status,
			t.identity,t.armed_services,t.duty,t.unit_in_contract,t.charge_type,
			t.working_status,t.insurance_type,t.insurance_no,t.service_agency,
			t.mailing_address,t.patient_class,t.admission_cause,t.pat_adm_condition,
			t.consulting_doctor,t.admitted_by,t.serious_cond_days,t.discharge_disposition,
			t.total_costs,t.total_payments,t.catalog_date,t.cataloger,t.catalog_writer,
			t.health_level,t.mr_infect_report,t.infect_indicator,t.identity_class,t.chief_doctor,
			t.advanced_studies_doctor,t.practice_doctor_of_graduate,t.practice_doctor,
			t.in_dept_name,t.in_clinic_attr,t.in_outp_or_inp,t.in_internal_or_sergery,
			t.out_dept_name,t.out_clinic_attr,t.out_outp_or_inp,t.out_internal_or_sergery,
			t.settle_indi,t.link_date,t.NGROUPNUM,t.ISORDERCHECK,t.expert_id,t.ISCHECKTRUE,
			t.ATTENDING_DOCTOR
      		,m.RS_DRUG_TYPES
      		,n.DIAGNOSIS_DESC,nvl(N.DIAGNOSIS_COUNT,0) DIAGNOSIS_COUNT
	    from pat_visit t
	    left join pat_master_index p on t.patient_id = p.patient_id 
	    <if test="pd.RS_DRUG_TYPE != null and pd.RS_DRUG_TYPE != ''"> <!-- 问题类型 -->
		    inner 
		</if>
	    <if test="pd.RS_DRUG_TYPE ==null or pd.RS_DRUG_TYPE == ''"> <!-- 问题类型 -->
		    left 
		</if>
		 join ( select NGROUPNUM,listagg( RS_DRUG_TYPE ,'@;@') within GROUP (order by NGROUPNUM) RS_DRUG_TYPES 
	          from  (
	         		select NGROUPNUM,RS_DRUG_TYPE  
	         		from RS_DRUG_CHECKRSLT 
			        <if test="pd.RS_DRUG_TYPE != null and pd.RS_DRUG_TYPE != ''"> <!-- 问题类型 -->
			    		where RS_DRUG_TYPE = #{pd.RS_DRUG_TYPE}
			    	</if>
	         		group by NGROUPNUM,RS_DRUG_TYPE 
           		)  
	         group by NGROUPNUM
	    ) m on (t.NGROUPNUM=m.NGROUPNUM  )
	    <if test="pd.DIAGNOSIS_DESC != null and pd.DIAGNOSIS_DESC != ''"> <!-- 诊断-->
		    inner  
		</if>
		<if test="pd.DIAGNOSIS_DESC ==null or pd.DIAGNOSIS_DESC == ''"> <!-- 诊断-->
		    left 
		</if>
	     join ( 
	    	select PATIENT_ID,VISIT_ID,count(DIAGNOSIS_DESC) DIAGNOSIS_COUNT,listagg(DIAGNOSIS_DESC,'@;@') within GROUP (order by PATIENT_ID,VISIT_ID) DIAGNOSIS_DESC 
	    	from diagnosis 
		    <if test="pd.DIAGNOSIS_DESC != null and pd.DIAGNOSIS_DESC != ''"> <!-- 诊断-->
		    	where DIAGNOSIS_DESC LIKE CONCAT(CONCAT('%', #{pd.DIAGNOSIS_DESC}),'%') 
		    </if>
	    	group by PATIENT_ID,VISIT_ID
	    )n on (t.patient_id = n.patient_id and t.VISIT_ID=n.VISIT_ID )
		where 1=1 
		<if test="pd.OUT_DEPT_NAME != null and pd.OUT_DEPT_NAME != ''"><!-- 关键词检索 -->
			and t.OUT_DEPT_NAME LIKE CONCAT(CONCAT('%', #{pd.OUT_DEPT_NAME}),'%') 
		</if>
		<if test="pd.ATTENDING_DOCTOR != null and pd.ATTENDING_DOCTOR != ''"> <!-- 医生名-->
			and t.ATTENDING_DOCTOR  LIKE CONCAT(CONCAT('%', #{pd.ATTENDING_DOCTOR}),'%') 
		</if>
		<if test="pd.beginDate != null and pd.beginDate != ''"> <!-- 更新时间 开始-->  
			and t.discharge_date_time &gt;= to_date(#{pd.beginDate},'yyyy-mm-dd') 
		</if>
		<if test="pd.endDate != null and pd.endDate != ''"> <!-- 更新时间 结束-->
			and t.discharge_date_time &lt; to_date(#{pd.endDate} ,'yyyy-mm-dd') 
		</if>
		<if test="pd.IS_OPERATION != null and pd.IS_OPERATION != ''"> <!-- 是否含有手术-->
			and t.IS_OPERATION = #{pd.IS_OPERATION} 
		</if>
		<if test="pd.ISORDERCHECK != null and pd.ISORDERCHECK != ''"> <!-- 是否合理-->
			and t.ISORDERCHECK = #{pd.ISORDERCHECK} 
		</if>
		<!-- 是否合理 -->
		<choose>
			<when test="pd.ISCHECKTRUE!= null and pd.ISCHECKTRUE==2">
				and ( t.ISCHECKTRUE =2	or t.ISCHECKTRUE  is null )
			</when>
			<otherwise>
				<if test="pd.ISCHECKTRUE != null and pd.ISCHECKTRUE  != ''"> <!--点评记录-->
					and t.ISCHECKTRUE  = #{pd.ISCHECKTRUE }
				</if>
			</otherwise>
		</choose>
		Order by t.discharge_date_time 
	</select>
	
	<select id="patVisitById" parameterType="pd" resultType="pd">
		select  
			p.NAME,
			P.SEX,
			P.DATE_OF_BIRTH,
			p.PHONE_NUMBER_HOME,
			t.patient_id,
			trunc(t.discharge_date_time) -  trunc(t.admission_date_time) + 1 dayCount ,
			t.PAT_AGE,
			t.visit_id,
			t.dept_admission_to,
			t.admission_date_time,
			t.dept_discharge_from,
			t.discharge_date_time,
			t.occupation,
			t.marital_status,
			t.identity,
			t.armed_services,
			t.duty,
			t.unit_in_contract,
			t.charge_type,
			t.working_status,
			t.insurance_type,
			t.insurance_no,
			t.service_agency,
			t.mailing_address,
			t.patient_class,
			t.admission_cause,
			t.pat_adm_condition,
			t.consulting_doctor,
			t.admitted_by,
			t.serious_cond_days,
			t.discharge_disposition,
			t.total_costs,
			t.total_payments,
			t.catalog_date,
			t.cataloger,
			t.catalog_writer,
			t.health_level,
			t.mr_infect_report,
			t.infect_indicator,
			t.identity_class,
			t.chief_doctor,
			t.advanced_studies_doctor,
			t.practice_doctor_of_graduate,
			t.practice_doctor,
			t.in_dept_name,
			t.in_clinic_attr,
			t.in_outp_or_inp,
			t.in_internal_or_sergery,
			t.out_dept_name,
			t.out_clinic_attr,
			t.out_outp_or_inp,
			t.out_internal_or_sergery, 
			t.settle_indi,
			t.link_date,
			t.NGROUPNUM,
			t.ISORDERCHECK,
			t.ISCHECKTRUE,
			t.expert_id
			,n.DIAGNOSIS_DESC,nvl(N.DIAGNOSIS_COUNT,0)
		from 
			pat_visit t 
		left join pat_master_index p on t.patient_id = p.patient_id
	    left join ( 
	    	select PATIENT_ID,VISIT_ID,count(DIAGNOSIS_DESC) DIAGNOSIS_COUNT,listagg(DIAGNOSIS_DESC,';') within GROUP (order by PATIENT_ID,VISIT_ID) DIAGNOSIS_DESC 
	    	from diagnosis 
	    	where patient_id =#{pd.patient_id} and visit_id = #{pd.visit_id}
	    	 group by PATIENT_ID,VISIT_ID
	    )n on (t.patient_id = n.patient_id and t.VISIT_ID=n.VISIT_ID )
		where  t.patient_id =#{pd.patient_id} and t.visit_id = #{pd.visit_id}
	</select>
	
	<update id="UpdatePatVisitNgroupnum" parameterType="pd" >
		update
			<include refid="tableName">	</include>
		set
			ngroupnum = #{NGROUPNUM,jdbcType=VARCHAR},ISCHECKTRUE = #{ISCHECKTRUE}
			<if test="ISORDERCHECK !=null and ISORDERCHECK!='' ">
				,ISORDERCHECK = #{ISORDERCHECK}
			</if>
		where 
			 patient_id =#{patient_id} and visit_id = #{visit_id}
	
	</update>
	<select id="queryPatVisit" parameterType="pd" resultType="pd">
		select * from  pat_visit t
		 where  t.patient_id =#{patient_id} and t.visit_id = #{visit_id}
	</select>
	<update id="updateExpertPatVisit">
		update pat_visit t set expert_id=#{expert_id} 
 		where  t.patient_id =#{patient_id} and t.visit_id = #{visit_id}
	</update>
	
	<!-- 	查询出院病人 -->
	<select id="queryPatVisitByDate" parameterType="pd" resultType="pd" >
		select * from pat_visit t 
		left join  pat_master_index  m on m.patient_id  = t.patient_id  
		where 
			t.discharge_date_time &gt;= to_date(#{beginDate},'yyyy-mm-dd') 
			and t.discharge_date_time &lt; to_date(#{endDate} ,'yyyy-mm-dd') 
	</select>
		 
	<!-- 	查询诊断 -->
	<select id="queryDiagnosisByPatVisist" parameterType="pd" resultType="pd">
		select * from diagnosis t 
			where 
			patient_id =#{patient_id} and visit_id = #{visit_id}
	</select>
	
	<select id="deleteDrugCheckRslt" parameterType="pd" >
		delete rs_drug_checkrslt  
		where ngroupnum in (
			select t.ngroupnum from pat_visit t 
		where 
			t.discharge_date_time &gt;= to_date(#{beginDate},'yyyy-mm-dd') 
			and t.discharge_date_time &lt; to_date(#{endDate} ,'yyyy-mm-dd') 
			and ngroupnum is not null
		)
	</select>
		
</mapper>