<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PrescMapper">
	<!-- 专家列表 -->
	<select id="prescListPage" parameterType="page" resultType="pd" >
		select a.*,m.RS_DRUG_TYPES
		from presc a
		left join ( select NGROUPNUM,listagg( RS_DRUG_TYPE ,'@;@') within GROUP (order by NGROUPNUM) RS_DRUG_TYPES 
	         from  (
	         		select NGROUPNUM,RS_DRUG_TYPE  from RS_DRUG_CHECKRSLT group by NGROUPNUM,RS_DRUG_TYPE 
           			) group by NGROUPNUM
	    ) m on a.NGROUPNUM=m.NGROUPNUM
		where 1=1 
		<!-- 		关键词检索 -->
		<if test="pd.keywords!= null and pd.keywords != ''">
			and
				(
					 a. DIAGNOSIS_NAMES LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
		</if>
		<if test="pd.ORG_NAME!= null and pd.ORG_NAME != ''">
			and
					 a. ORG_NAME LIKE CONCAT(CONCAT('%', #{pd.ORG_NAME}),'%')
		</if>
		<if test="pd.ISCHECKTRUE != null and pd.ISCHECKTRUE != ''"> <!-- 是否合理-->
			and t.ISCHECKTRUE = #{pd.ISCHECKTRUE} 
		</if>
		<if test="pd.ISORDERCHECK != null and pd.ISORDERCHECK != ''"> <!--点评记录-->
			and t.ISORDERCHECK = #{pd.ISORDERCHECK}
		</if>
		order by ORDER_DATE desc
	</select>
	<!-- 单个处方主要信息 -->
	<select id="findPrescById" parameterType="pd" resultType="pd" >
		select * from presc where id = #{id}
	</select>
	<!-- 	处方详情 -->
	<select id="prescDetailList" parameterType="pd" resultType="pd" >
		select * from presc_detail where presc_id = #{id}
	</select>
	<!-- 	其他处方详情 -->
	<select id="otherPrescDetailList" parameterType="pd" resultType="pd" >
		select a.* from presc_detail a,
		(select id from presc where id!= #{id} and 
			ORDER_DATE in (select ORDER_DATE from presc where id= #{id})
		) b
		 where a.presc_id = b.id 
	</select>
	
	
	<!-- 	更新处方的关联问题字段 -->
	<update id="updatePrescNgroupnum" parameterType="pd" >
		update presc set NGROUPNUM = #{Ngroupnum} ,ISCHECKTRUE = #{ISCHECKTRUE}
			<if test="ISORDERCHECK !=null and ISORDERCHECK!='' ">
				,ISORDERCHECK = #{ISORDERCHECK}
			</if>
		where id=#{id}
	</update>
	<!-- 	查询处方，为新增点评使用 -->
	<select id="prescListSpecial" parameterType="pd" resultType="pd">
		select ORDER_NO||'@;@'||ORDER_SUB_NO||'@;@'||DRUG_CODE||'@;@'||drug_name as key
			, drug_name as value
		from  presc_detail
		where PRESC_ID= #{PRESC_ID}
	</select>
	<!-- 	查询处方，为新增点评使用 -->
	<select id="otherPrescListSpecial" parameterType="pd" resultType="pd">
		select ORDER_NO||'@;@'||ORDER_SUB_NO||'@;@'||DRUG_CODE||'@;@'||drug_name as key
			, drug_name as value
		from  presc_detail a,
		(	
			select id from presc 
			where ORDER_DATE in (select ORDER_DATE from presc where id= #{id})
		) b
		where a.presc_id = b.id 
	</select>
<!-- 	设置为专家点评 -->
	<update id="updateExpertPresc">
		update presc  set expert_id=#{expert_id} 
 		where  id =#{id} 
	</update>
	
</mapper>