<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rsDrugCheckRsltMapper">

	<!--表名   手术表-->
	<sql id="tableName">
		RS_DRUG_CHECKRSLT
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		rs_id,
		drug_id1,
		drug_id1_name,
		rec_main_no1,
		rec_sub_no1,
		drug_id2,
		drug_id2_name,
		rec_main_no2,
		rec_sub_no2,
		ngroupnum,
		rs_drug_type,
		in_rs_type,
		alert_level,
		alert_hint,
		alert_cause,
		checkdate,
		CHECKPEOPLE

	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
 		#{rs_id},
		#{drug_id1},
		#{drug_id1_name},
		#{rec_main_no1},
		#{rec_sub_no1},
		#{drug_id2,jdbcType=VARCHAR},
		#{drug_id2_name,jdbcType=VARCHAR},
		#{rec_main_no2,jdbcType=VARCHAR},
		#{rec_sub_no2,jdbcType=VARCHAR},
		#{ngroupnum},
		#{rs_drug_type},
		#{in_rs_type},
		#{alert_level},
		#{alert_hint},
		#{alert_cause},
		#{checkdate},
		#{CHECKPEOPLE}
	</sql>
	
<!-- 	保存审核结果 -->
	<insert id="saveCheckRS" parameterType="pd" >
		insert into 
		<include refid="tableName"></include>
			(
		<include refid="Field"></include>
			) values (
		<include refid="FieldValue"></include>
			)
	</insert>
	
<!-- 	 查询审核结果  查询患者点评结果信息-->
	<select id="selectCheckRsByNgroupnum" parameterType="page" resultType="pd">
		select <include refid="Field"></include>
		from RS_DRUG_CHECKRSLT
		where 
		 <!-- 审核结果组号 -->  
		ngroupnum = #{pd.ngroupnum} 
		order by CHECKDATE
	</select>
	<delete id="delCheckRsByNgroupnum" parameterType="pd" >
		delete from RS_DRUG_CHECKRSLT
		where 
		 <!-- 审核结果组号 -->  
		ngroupnum = #{ngroupnum} 
	</delete>
	<update id="deleteCheckRsById" parameterType="pd" >
		delete from RS_DRUG_CHECKRSLT 
		where RS_ID = #{RS_ID}
	</update>
	
	<!--查询病人信息  -->
<!-- 	<select id="OperationById" parameterType="page" resultType="pd"> -->
<!-- 		select   -->
<!-- 			<include refid="Field"></include> -->
<!-- 		from  -->
<!-- 			<include refid="tableName"></include> -->
<!-- 		where  -->
<!-- 			patient_id  = #{pd.patient_id} and visit_id = #{pd.visit_id} -->
<!-- 		Order by operating_date -->
<!-- 	</select> -->
	
	<select id="getCheckRsById" parameterType="pd" resultType="pd">
		select * from RS_DRUG_CHECKRSLT where rs_id=#{rs_id}
	</select>
	<update id="updateCheckResult"  parameterType="pd"  >
		update RS_DRUG_CHECKRSLT set ALERT_HINT=#{ALERT_HINT} where  rs_id=#{rs_id}
	</update>
	
	<select id="prescReportList" parameterType="pd" resultType="pd">
		  select a.rs_drug_type,count(a.rs_id) count
  		  from RS_DRUG_CHECKRSLT a where IN_RS_TYPE=2 group by a.rs_drug_type
	</select>
</mapper>