<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rsDrugCheckRsltMapper">

	<!--表名   手术表-->
	<sql id="tableName">
		RS_DRUG_CHECKRSLT
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		rs_id,
		drug_id1,
		drug_id1_name,
		rec_main_no1,
		rec_sub_no1,
		drug_id2,
		drug_id2_name,
		rec_main_no2,
		rec_sub_no2,
		ngroupnum,
		rs_drug_type,
		in_rs_type,
		alert_level,
		alert_hint,
		alert_cause,
		checkdate,
		CHECKPEOPLE,
		RELATION_ID1,
		RELATION_ID2
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
 		#{rs_id},
		#{drug_id1},
		#{drug_id1_name},
		#{rec_main_no1},
		#{rec_sub_no1},
		#{drug_id2,jdbcType=VARCHAR},
		#{drug_id2_name,jdbcType=VARCHAR},
		#{rec_main_no2,jdbcType=VARCHAR},
		#{rec_sub_no2,jdbcType=VARCHAR},
		#{ngroupnum},
		#{rs_drug_type},
		#{in_rs_type},
		#{alert_level},
		#{alert_hint},
		#{alert_cause},
		#{checkdate},
		#{CHECKPEOPLE},
		#{RELATION_ID1,jdbcType=VARCHAR},
		#{RELATION_ID2,jdbcType=VARCHAR}
	</sql>
	
<!-- 	保存审核结果 -->
	<insert id="saveCheckRS" parameterType="pd" >
		insert into 
		<include refid="tableName"></include>
			(
		<include refid="Field"></include>
			) values (
		<include refid="FieldValue"></include>
			)
	</insert>
	
<!-- 	 查询审核结果  查询患者点评结果信息-->
	<select id="selectCheckRsByNgroupnum" parameterType="page" resultType="pd">
		select a.rs_id,a.drug_id1,a.drug_id1_name,a.rec_main_no1,a.rec_sub_no1,
			a.drug_id2,a.drug_id2_name,a.rec_main_no2,a.rec_sub_no2,a.ngroupnum,
			a.rs_drug_type,a.in_rs_type,a.alert_level,a.alert_hint,a.alert_cause,
			a.checkdate,a.CHECKPEOPLE,a.RELATION_ID1,a.RELATION_ID2	
			,b.DOCTOR_NAME DOCTOR_NAME1,b.ORG_NAME ORG_NAME1,b.PRESC_NO PRESC_NO1
			,c.DOCTOR_NAME DOCTOR_NAME2,c.ORG_NAME ORG_NAME2,c.PRESC_NO PRESC_NO2
			,u.name CHECKPEOPLE_NAME
		from RS_DRUG_CHECKRSLT a 
		left join PRESC b on b.id = a.RELATION_ID1 
		left join PRESC c on c.id = a.RELATION_ID2 
		left join plat.sys_user u on a.CHECKPEOPLE = u.user_id
		where 
		 	<!-- 审核结果组号 -->  
			a.ngroupnum = #{pd.ngroupnum} 
		order by CHECKDATE
	</select>
	<delete id="delCheckRsByNgroupnum" parameterType="pd" >
		delete from RS_DRUG_CHECKRSLT
		where 
		 <!-- 审核结果组号 -->  
		ngroupnum = #{ngroupnum} 
	</delete>
	<update id="deleteCheckRsById" parameterType="pd" >
		delete from RS_DRUG_CHECKRSLT 
		where RS_ID = #{RS_ID}
	</update>
	
	<!--查询病人信息  -->
<!-- 	<select id="OperationById" parameterType="page" resultType="pd"> -->
<!-- 		select   -->
<!-- 			<include refid="Field"></include> -->
<!-- 		from  -->
<!-- 			<include refid="tableName"></include> -->
<!-- 		where  -->
<!-- 			patient_id  = #{pd.patient_id} and visit_id = #{pd.visit_id} -->
<!-- 		Order by operating_date -->
<!-- 	</select> -->
	
	<select id="getCheckRsById" parameterType="pd" resultType="pd">
		select a.rs_id,a.drug_id1,a.drug_id1_name,a.rec_main_no1,a.rec_sub_no1,
			a.drug_id2,a.drug_id2_name,a.rec_main_no2,a.rec_sub_no2,a.ngroupnum,
			a.rs_drug_type,a.in_rs_type,a.alert_level,a.alert_hint,a.alert_cause,
			a.checkdate,a.CHECKPEOPLE,a.RELATION_ID1,a.RELATION_ID2	
			,b.DOCTOR_NAME DOCTOR_NAME1,b.ORG_NAME ORG_NAME1,b.DIAGNOSIS_NAMES DIAGNOSIS_NAMES1
			,c.DOCTOR_NAME DOCTOR_NAME2,c.ORG_NAME ORG_NAME2,c.DIAGNOSIS_NAMES DIAGNOSIS_NAMES2
		from RS_DRUG_CHECKRSLT a 
		left join PRESC b on b.id = a.RELATION_ID1 
		left join PRESC c on c.id = a.RELATION_ID2 
		where a.rs_id=#{rs_id}
	</select>
	<update id="updateCheckResult"  parameterType="pd"  >
		update RS_DRUG_CHECKRSLT set ALERT_HINT=#{ALERT_HINT} where  rs_id=#{rs_id}
	</update>
	<!-- 处方报表 -->
	<select id="prescReport" parameterType="pd" resultType="pd">
		select a.RS_TYPE_CODE,a.RS_TYPE_NAME,count(b.rs_id) count
  		from rs_type_dict a 
  			left join ( 
  					select m.rs_id,m.IN_RS_TYPE,m.RS_DRUG_TYPE,n.ORDER_DATE
  					FROM RS_DRUG_CHECKRSLT m, presc n 
  					WHERE M.NGROUPNUM = N.NGROUPNUM
					<if test="DOCTOR_NAME != null and DOCTOR_NAME != ''"> <!-- 医生名-->
						and n.DOCTOR_NAME = #{DOCTOR_NAME}
					</if>
					<if test="ORG_NAME != null and ORG_NAME != ''"> <!-- 科室名-->
						and n.ORG_NAME =#{ORG_NAME}
					</if>
					<if test="DRUG_NAME != null and DRUG_NAME != ''"> <!-- 药品名-->
					 and exists( select PRESC_ID from presc_detail q 
					 	where n.id = q.PRESC_ID 
						and q.DRUG_NAME = #{DRUG_NAME}
					 )
					</if>
  				)b
	  			on ( 
	  				a.RS_TYPE_CODE = b.RS_DRUG_TYPE and b.IN_RS_TYPE='2' 
					<if test="beginDate != null and beginDate != ''"> <!--开始日期-->
						and b.ORDER_DATE &gt;= #{beginDate}
					</if>
					<if test="endDate != null and endDate != ''"> <!--开始日期-->
						and b.ORDER_DATE &lt;= #{endDate}
					</if>
	  			)
  		where 1=1
		<if test="RS_DRUG_TYPE != null and RS_DRUG_TYPE != ''"> <!-- 类型-->
			and a.RS_TYPE_CODE = #{RS_DRUG_TYPE} 
		</if>
  		group by a.RS_TYPE_CODE,a.RS_TYPE_NAME
	</select>
	
<!-- 	医嘱报表 -->
	<select id="ordersReport" parameterType="pd" resultType="pd">
		select a.RS_TYPE_CODE,a.RS_TYPE_NAME,count(b.rs_id) count
  		from rs_type_dict a 
  		left join ( 
  					select m.rs_id,m.IN_RS_TYPE,m.RS_DRUG_TYPE,n.discharge_date_time
  					FROM RS_DRUG_CHECKRSLT m, pat_visit n 
  					WHERE M.NGROUPNUM = N.NGROUPNUM
					<if test="DOCTOR_NAME != null and DOCTOR_NAME != ''"> <!-- 医生名-->
						and n.ATTENDING_DOCTOR =#{DOCTOR_NAME}
					</if>
					<if test="ORG_NAME != null and ORG_NAME != ''"> <!-- 科室名-->
						and(n.in_DEPT_NAME = #{ORG_NAME} or n.out_DEPT_NAME = #{ORG_NAME}) 
					</if>
  				)b
	  			on ( 
	  				a.RS_TYPE_CODE = b.RS_DRUG_TYPE and b.IN_RS_TYPE='4' 
					<if test="beginDate != null and beginDate != ''"> <!--开始日期-->
						and b.discharge_date_time &gt;= to_date(#{beginDate},'yyyy-mm-dd') 
					</if>
					<if test="endDate != null and endDate != ''"> <!--开始日期-->
						and b.discharge_date_time &lt;= to_date(#{endDate},'yyyy-mm-dd') 
					</if>
	  			)
  		where 1=1
		<if test="RS_DRUG_TYPE != null and RS_DRUG_TYPE != ''"> <!-- 类型-->
			and a.RS_TYPE_CODE = #{RS_DRUG_TYPE} 
		</if>
  		group by a.RS_TYPE_CODE,a.RS_TYPE_NAME
	</select>
<!-- 	医嘱 按医生分组查询统计 -->
	<select id="orderListByDoctor" parameterType="pd" resultType="pd">
		select b.ATTENDING_DOCTOR ,count(a.rs_id) count
		FROM RS_DRUG_CHECKRSLT a ,pat_visit b
		WHERE a.NGROUPNUM = b.NGROUPNUM
			and a.RS_DRUG_TYPE = #{RS_DRUG_TYPE}
			<if test="beginDate != null and beginDate != ''"> <!--开始日期-->
			and b.discharge_date_time &gt;= to_date(#{beginDate},'yyyy-mm-dd') 
			</if>
			<if test="endDate != null and endDate != ''"> <!--开始日期-->
			and b.discharge_date_time &lt;= to_date(#{endDate},'yyyy-mm-dd') 
			</if>
		group by b.ATTENDING_DOCTOR
	</select>
	<!-- 	医嘱 按出院科室分组查询统计 -->
	<select id="orderListByDep" parameterType="pd" resultType="pd">
		select b.out_dept_name ,count(a.rs_id) count
		FROM RS_DRUG_CHECKRSLT a ,pat_visit b
		WHERE a.NGROUPNUM = b.NGROUPNUM
			and a.RS_DRUG_TYPE = #{RS_DRUG_TYPE}
			<if test="beginDate != null and beginDate != ''"> <!--开始日期-->
			and b.discharge_date_time &gt;= to_date(#{beginDate},'yyyy-mm-dd') 
			</if>
			<if test="endDate != null and endDate != ''"> <!--开始日期-->
			and b.discharge_date_time &lt;= to_date(#{endDate},'yyyy-mm-dd') 
			</if>
		group by b.out_dept_name
	</select>
	
	<!-- 	处方按医生分组查询统计 -->
	<select id="prescListByDoctor" parameterType="pd" resultType="pd">
		select b.DOCTOR_NAME ,count(a.rs_id) count
		FROM RS_DRUG_CHECKRSLT a ,presc b
		WHERE a.NGROUPNUM = b.NGROUPNUM
				and a.RS_DRUG_TYPE = #{RS_DRUG_TYPE}
			<if test="beginDate != null and beginDate != ''"> <!--开始日期-->
				and b.ORDER_DATE &gt;=  #{beginDate}
			</if>
			<if test="endDate != null and endDate != ''"> <!--开始日期-->
				and b.ORDER_DATE &lt;=  #{endDate} 
			</if>
		group by b.DOCTOR_NAME
	</select>
	
		<!-- 	处方 按出院科室分组查询统计 -->
	<select id="prescListByDep" parameterType="pd" resultType="pd">
		select b.ORG_NAME ,count(a.rs_id) count
		FROM RS_DRUG_CHECKRSLT a ,presc b
		WHERE a.NGROUPNUM = b.NGROUPNUM
				and a.RS_DRUG_TYPE = #{RS_DRUG_TYPE}
			<if test="beginDate != null and beginDate != ''"> <!--开始日期-->
				and b.ORDER_DATE &gt;=  #{beginDate}
			</if>
			<if test="endDate != null and endDate != ''"> <!--开始日期-->
				and b.ORDER_DATE &lt;=  #{endDate} 
			</if>
		group by b.ORG_NAME
	</select>
</mapper>